<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both" style="background-image:url(/bgquemsomos-01.png); background-size:cover; height:200px">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase" style="color:#04244d; font-size:40px">Escritórios de <b class="c-font-uppercase" style="color:#04244d; font-size:40px">Advocacia</b></h3>
		</div>	
    </div>
</div>

<div class="c-content-title-1 c-center c-margin-t-80">
    <h3 class="c-font-uppercase c-font-bold">Cenário Atual</h3>
    <div class="c-line-center" style="background-color:#04244d"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 wow animate fadeInUp" style="text-align:justify">			
            <p>Mostra pujante a tendência natural e irreversível
                do processo de desjudicialização dos institutos
                relativos
                a direitos
                disponíveis e que versem sobre questões não contenciosas. </p>
            <p>Nota-se uma tendência de subtrair do Poder Judiciário, atribuições que
                não possuem natureza de litigiosidade.
                Ou seja, quando se tratar de
                uma faculdade conferida às partes para compor suas pretensões fora
                da esfera estatal, quando forem juridicamente capazes e que tenham,
                como objeto, direitos disponíveis.</p>				
            <p>As Serventias
                Extrajudiciais, neste contexto, atuam colaborando,
                inclusive para desafogar os órgãos judiciais. Assim como vem
                ocorrendo em Portugal e na Espanha, que nos últimos
                anos estão
                transferindo para a atividade
                notarial e de registro atribuições antes
                reservadas ao Poder Judiciário, o Brasil também vem demonstrando
                que os serviços extrajudiciais podem contribuir ainda mais para o
                sistema judicial, prestando novos e significativos
                serviços à sociedade
                com a mesma segurança e eficácia que reclamam os negócios jurídicos.</p>
                <p>Possibilita-se, assim, o surgimento de iniciativas
                    capazes de trazer para
                    a população a garantia
                    de ter seus direitos assegurados de uma
                    maneira alternativa,
                    porém com eficácia e total segurança jurídica.</p>
                <br>
                <h3>Dificuldades observadas:</h3>

                
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li>Diculdade de acesso aos escreventes/cartórios.</li>
                        <li>Filas de espera</li>
                        <li>Tempo excessivo na conclusão do negócio, ocasionando prejuízos de toda ordem.</li>
                        <li>Atos inadequados.</li>
                        <li>Retrabalho.</li>
                    </ul>
        </div>
    </div>
</div>

<div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url(bgadv-01.jpg)">
	<div class="c-content-feature-13">
		<div class="row c-reset">
			<div class="col-md-6 c-bg-white">
				<div class="c-feature-13-container">
					<div class="c-content-title-1">
						<h3 class="c-font-uppercase c-font-white c-font-bold" style="color:grey !important"><span class="c-theme-font" style="color:#04244d !important">Diferenciais</span> da P. Ribeiro Inteligência Cartorial</h3>
						<div class="c-line-left" style="background-color:#04244d"></div>
					</div>
					<div class="row">
						<div class="c-feature-13-tile">
							<i class="icon-like c-theme-font c-font-24" style="color:#04244d !important"></i>
							<div class="c-feature-13-content" style="text-align:justify">
								<h4 class="c-font-uppercase c-theme-font c-font-bold" style="color:#04244d !important">Confira o quanto você ganha com nossos serviços:</h4>
								<p class="c-font-grey" style="color:grey !important">Observando a imperiosa necessidade de clientes e colegas advogados/
                                    escritórios, que buscam um atendimento especializado, exclusivo e
                                    presencial, apresento uma inovação na prestação de serviços
                                    cartorários com dinamismo e qualidade, garantindo
                                    a segurança
                                    jurídica de seus negócios e atos.</p>
                                <p>A P. Ribeiro Inteligência Cartorial atua para garantir
                                    a autenticidade,
                                    segurança e eficácia aos atos jurídicos, e ainda a comodidade e
                                    economia de tempo do cliente. Pensando nisso, disponibiliza um
                                    serviço exclusivo, personalizado, de modo a garantir
                                    que o cliente seja
                                    atendido onde for mais conveniente (no escritório, na empresa,
                                    ou até mesmo no cartório). Ademais, a orientação prévia
                                    especializada, consubstancia a vontade do cliente através da
                                    formulação do instrumento jurídico adequado à situação fática.</p>
                                <p>Trata-se de um trabalho especializado e técnico, pois promove a
                                    interação entre a segurança jurídica e a vontade das partes,
                                    garantindo o valor probatório e a força
                                    executiva judicial aos atos lavrados.
                                    Além disso, a P. Ribeiro Inteligência Cartorial orienta e esclarece os
                                    clientes, advogados, oferecendo, quando necessário, suporte técnico
                                    cartorário jurídico nas demandas judiciais.
                                    </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="c-content-box c-size-lg c-bg-img-top" style="background-image: url(../../assets/base/img/content/backgrounds/bg-65.jpg)">
	<div class="container">
		<div class="c-content-feature-6">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-font-uppercase c-center c-font-thin">Porque escolher a  P. Ribeiro <strong>Inteligência Cartorial</strong>?</h3>
				<div class="c-line-center c-theme-bg" style="background-color:#04244d !important"></div>
			</div>
			<!-- End-->
			<ul class="c-list">
				<li>
					<div class="c-card c-bg-opacity-1">
						<p>Através do suporte intelectual e análise prévia acerca do ato mais
                            adequado ao caso, os escritórios ganharão tempo e celeridade, haja
                            vista a comodidade que terão em ser atendidos in loco não sofrerão
                            com espera em cartórios, não terão dificuldade de acesso ao
                            escrevente, evitando atos inadequados e retrabalho, já que a
                            P. Ribeiro Inteligência Cartorial atua minimizando esses impedimentos
                            para a conclusão dos atos.</p>
                        <p>É importante salientar a facilidade que nossos serviços proporcionam
                            ao cliente quanto ao acesso às informações acerca do ato e seu
                            andamento, pois terão assistência durante toda tramitação do mesmo
                            na serventia
                            extrajudicial. Isto consubstancia um alto nível de
                            satisfação
                            dos clientes, presteza e agilidade no atendimento,
                            possibilitando maior lucratividade ao escritório.</p>
					</div>	
				</li>
				
			</ul>
		</div>
	</div> 
</div>

<div class="c-content-box c-size-lg c-bg-white">
	<div class="container">
		<!-- Begin: testimonials 1 component -->
		<div class="c-content-testimonials-1 c-option-2 wow animated fadeIn" data-slider="owl">

			<!-- Begin: Owlcarousel -->

			<div class="owl-carousel owl-theme c-theme c-owl-nav-center wow animated fadeInUp" data-single-item="true" data-slide-speed="8000" data-rtl="false"> 
                <div class="item">
                    <div class="c-testimonial">
                        <p>
                          “Sou Advogado e sei o quanto as lides cartoriais podem
                          empecilhar o bom andamento de um trabalho. Recentemente
                          atuei em um inventário extrajudicial e tive
                          o assessoramento da
                          P. Ribeiro, que teve uma atuação essencial para que o processo
                          chegasse a bom termo. Sua expertise
                          nas questões cartorárias,
                          aliada à sua disposição para o trabalho, e bom senso nos
                          aconselhamentos, otimizou
                          enormemente o curso dos
                          procedimentos, evitando incontáveis idas e vindas ao cartório,
                          bem como foi profícua
                          nas tomadas de decisões. A atuação da
                          P. Ribeiro se tornou indispensável para mim.”
                      </p>
                      <h3>
                          <span class="c-name c-theme">Amilcar Pimenta de Morais</span>, Advogado
                      </h3>
                  </div>
                </div> 
                <div class="item">
			  		<div class="c-testimonial">
				  		<p>
		                    “Tive a oportunidade de ser atendido pela P. Ribeiro em uma
                            demanda e fiquei muito sasfeito.
                            Doze meses antes tive
                            um
                            caso muito semelhante que demandou dias e várias idas ao
                            Cartório. Com a P. Ribeiro a solução foi muito simples, eficaz e
                            tudo foi resolvido em menos de 2 horas. Ela demonstrou ter
                            bom trânsito nas instituições
                            e muito conhecimento de causa
                            para resolver as questões. ”
		                </p>
		                <h3>
		                    <span class="c-name c-theme">Cláudio Rodrigues</span>, Proprietário da Agroshop
		                </h3>
	                </div>
			  	</div>
			  	<div class="item">
			  		<div class="c-testimonial">
				  		<p>
		                    “Quero deixar aqui meu agradecimento a P. Ribeiro pela 
                            assessoria e condução da escritura lavrada no 5° Tabelionato, me 
                            assessorando desde o início, vindo até a Imobiliária sempre que 
                            necessário, deixando tudo pronto no Cartório para um processo 
                            de imóvel objeto de inventário, com vários herdeiros e 
                            procuração internacional. Porém foi muito tranquilo devido a 
                            condução feita pela P. Ribeiro. Recomendo com tranquilidade 
                            pelo profissionalismo”
	                    </p>
		                <h3>
		                    <span class="c-name c-theme">Marise Rodrigues</span>,  Corretora de Imóveis, Adão Imóveis
		                </h3>
	                </div>
			  	</div>		 
			</div>
	        <!-- End-->
	    </div>
	    <!-- End-->
	</div>
</div>