<style>
    a:hover{
        color:#04244d
    }

    .c-theme-ul-bg > li {
    color: #ffffff;
    background: rgb(59, 192, 59) !important;
}

.c-theme-btn.btn {
    color: #ffffff;
    background: #04244d;
    border-color: #04244d;
}

.c-theme-border {
    border-color: #04244d !important;
}
</style>
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="c-content-blog-post-1-view">
                        <div class="c-content-blog-post-1">
                            <div class="c-media">
                                <div class="c-content-media-2-slider" data-slider="owl">
                                    <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/post1.jpeg); min-height: 460px;">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/pribeiro.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="c-title c-font-bold c-font-uppercase">
                                <a href="#">A Burocracia na Desjudicialização!</a>
                            </div>
    
                            <div class="c-panel c-margin-b-30">
                                <div class="c-author"><a href="#">por <span class="c-font-uppercase">Poliana Ribeiro</span></a></div>
                                <div class="c-date">on <span class="c-font-uppercase">12 de dezembro de 2017</span></div>
                                <ul class="c-tags c-theme-ul-bg">
                                    <li>Artigos</li>
                                </ul>							
                            </div>
    
                            <div class="c-desc" style="text-align:justify">
                                <p>
                                    "Justiça atrasada, não é justica, senão injustica qualificada e manifesta" Rui Barbosa. Ante o cenário de morosidade do Poder Judiciário onde o cidadão geralmente só tem conseguido obter tardiamente a prestação jurisdicional pretendida, se mostra pujante a tendência natural e irreversível do processo de desjudicializacão, no que se refere aos direitos disponíveis e não contenciosos. Neste contexto, as serventias extrajudiciais prestam enorme colaboração, inclusive para desafogar os órgãos judiciais. Portugal e Espanha são exemplos de países onde, nos últimos anos, a transferência de atribuições reservadas ao Poder Judiciário está sendo incrementada para as serventias extrajudiciais, constituindo se assim, iniciativas capazes de trazer para a população a garantia de ter seus direitos assegurados com autenticidade, eficácia e segurança jurídica. 
                                </p>
                                <p>
                                    As serventias extrajudiciais são como um palco onde se apresenta o desenvolvimento seguro de diversas relações jurídicas.
                                    Como a exemplo. temos o advento da lei 11.441/2007 que permitiu a realização de inventários e partilhas com agilidade e segurança jurídica pelos tabeliães de todo Brasil. Nota-se a desjudicializacão em cena, visto que é uma alternativa de regularização de fatos e situações jurídicas, pois contribui para a resolução de uma série de problemas ao conferir segurança jurídica ás relações com maior celebridade e menor custo. Destarte, reduz-se a situação estatal na vida privada, corroborando o exercício da cidadania.
                                    
                                </p>
                                <p>
                                    A ampla publicidade conferida aos atos cartoriais, chancela sua eficácia erga omnes, e a "fé publica"habilita a eficácia da vontade das partes quanto a declaração, constituição ou extinção de direitos subjetivos e disponíveis.  
                                </p>
                                <p>
                                    A ata notarial constitui meio apropriado para se instrumentalizar algumas provas. Seria de extrema relevância que estas estivessem incluídas na previsão do art. 439 do Código de Processo Civil que trata da conversão de documentos eletrônicos, para o meio físico. 
                                </p>
                                <p>
                                    Assim, o legislador perdeu a oportunidade de endereçar as partes a via administrativa quanto à materialização e desmaterialização de documentos restringindo a dinamicidade da produção probatória. 
                                </p>
                                <p>
                                    Porém, no Estado de São Paulo, através do Provimento CG n 22/2013, essa primordialidade dos tempos atuais foi incrementada, atendendo a necessidade de migração de documentos em papel para documentos eletrônicos e vice-versa. 
                                </p>
                                <p>
                                    Quanto ao inventario e partilha, seria oportuno que se propiciasse sua lavratura em cartório, nos casos em que o autor da herança tenha deixado testamento, desde que haja consenso entre os herdeiros. Segundo o presidente da Associação dos Notários e Registradores do Paraná (Anoreg - PR) e vice-presidente do Colégio Notarial do Paraná (CNB-PR), Ângelo Volpi Neto: "nunca entendemos a vedação de inventario extrajudicial por testamento, incluída na lei 11.441. Afinal, se os herdeiros são maiores e capazes e concordam com a disposição testamentaria, não há razão para obrigar o inventario judicial, muito menos se ele já caducou, ou seja, suas disposições perderam a validade." 
                                </p>
                                <p>
                                    Também no Estado de São Paulo, o Provimento CG n 40/2012, 129, ampliou o endereçamento do inventario para a esfera administrativa nos casos em que houver testamento revogado, caducou ou quando houver decisão judicial, com transito em julgado, declarando a invalidade do testamento, resolvendo assim, essa restrição legal.
                                </p>
                                <p>
                                    Deve-se esclarecer que as limitações trazidas pela lei 11/441/07 procuravam resguardar direitos indisponíveis, quais sejam o cumprimento das disposições de ultima vontade do testador e dos interesses de herdeiros menores ou legatários e a disposição que determina a criação de fundação, situações estas em que o Ministério Publico atua como agente fiscalizador. fato de o tabelião, mesmo possuindo fé pública para a lavratura ou aprovação do testamento conforme art.1864 do Código Civil, não seja considerado competente a dar cumprimento ao mesmo.
                                </p>
                                <p>
                                    Desse modo, mais uma vez, o legislador não oportunizou a desjudicializacao, conforme as situações fáticas atuais, exigem a fim de resguardar de modo eficiente e célere os direitos disponíveis. 
                                    Outra restrição legal inoportuna se refere ao divórcio envolvendo filhos menores, conforme previsão legal, art. 731 1 e art.733, CPC. Devemos entender que divórcio e guarda dos menores são institutos diversos. Desse modo, resta dizer que poderiam, as Corregedorias Gerais dos Estados, ampliar a competência das serventias extrajudiciais.
                                    
                                </p>
                                <p>
                                    O Provimento CG n 40/2012 de São Paulo, inovou, conforme  disposto 86.1, ao prever a possibilidade de se lavrar escrituras públicas de separação e divórcio consensuais, se comprovada a resolução  prévia e judicial de todas as questões referentes aos filhos menores (guarda, visitas e alimentos), o que até então não era permitido.
                                </p>
                                <p>
                                    Relevante a medida de desjudicialização destes atos, pois proporciona rapidez ao casal separando ou divorciando,  por meio de  procedimento simples e rápido, porquanto deixa o judiciário somente a questão de guarda e pensão, ou separações e/ou divórcios em que haja lide.
                                </p>
                                <p>
                                    Importante ressaltar que é competência das Corregedorias Estaduais de Justiça disciplinar questões em âmbito regional, e ampliar a competência das serventias  extrajudiciais, sendo essas matérias acima  entabuladas, imprescindíveis à atualidade, e à consecução e à eficácia da vontade das partes  quanto aos direitos subjetivos disponíveis.
                                </p>
                                <p>Assim, a desjudicialização, além de conferir maior celeridade e menor custo às partes, beneficia todo sistema judiciário, porque o magistrado poderá ater-se  às demandas mais complexas e litigiosas, ganhando toda sociedade.</p>
                            </div>
    
                            <div class="c-comments">
    
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">Comentários</h3>
                                    <div class="c-line-left" style="background-color:#04244d"></div>
                                </div>
    
                                <div class="fb-comments" data-href="http://www.inteligenciacartorial.com.br/burocracia-na-desjudicializacao" data-width="100%" data-numposts="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <form action="#" method="post">
                        <div class="input-group">
                          <input type="text" class="form-control c-square c-theme-border" placeholder="Pesquisar no blog...">
                          <span class="input-group-btn">
                            <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Ir!</button>
                          </span>
                        </div>
                    </form>
    

    
                    <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">Categorias</h3>
                                <div class="c-line-left c-theme-bg" style="background-color:#04244d !important"></div>
                            </div>
                            <ul class="c-menu c-arrow-dot1 c-theme">
                                <li><a href="#">Notícias</a></li>
                                <li><a href="#">Artigos</a></li>
                                <li><a href="#">Lazer</a></li>
                            </ul>
                        </div><!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                </div>
            </div>
        </div> 
    </div>
    