<style>
    a:hover{
        color:#04244d
    }

    .c-theme-ul-bg > li {
    color: #ffffff;
    background: rgb(59, 192, 59) !important;
}

.c-theme-btn.btn {
    color: #ffffff;
    background: #04244d;
    border-color: #04244d;
}

.c-theme-border {
    border-color: #04244d !important;
}
</style>
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="c-content-blog-post-1-view">
                        <div class="c-content-blog-post-1">
                            <div class="c-media">
                                <div class="c-content-media-2-slider" data-slider="owl">
                                    <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/blog/certidao-de-nascimento.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/pribeiro.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="c-title c-font-bold c-font-uppercase">
                                <a href="#">Certidões de “Cara Nova”!</a>
                            </div>
    
                            <div class="c-panel c-margin-b-30">
                                <div class="c-author"><a href="#">por <span class="c-font-uppercase">Poliana Ribeiro</span></a></div>
                                <div class="c-date">on <span class="c-font-uppercase">03 de dezembro de 2017</span></div>
                                <ul class="c-tags c-theme-ul-bg">
                                    <li>Notícias</li>
                                </ul>							
                            </div>
    
                            <div class="c-desc" style="text-align:justify">
                                <p>
                                    Os cartórios de todo o Brasil começaram essa semana a emitir novos modelos de certidões. 
                                    Nascer, casar, morrer, para cada um desses momentos tem uma modificação no papel. A partir 
                                    desta semana as certidões de nascimento, casamento e óbito ganham "cara nova". Nas novas 
                                    certidões constarão o número do CPF. 
                                </p>
                                <p>
                                    A Corregedoria Nacional de Justiça publicou na sexta-feira (17/11) o Provimento n.63, que 
                                    institui regras para emissão, pelos cartórios de registro civil, da certidão de nascimento, 
                                    casamento e óbito, que agora terão o número de CPF obrigatoriamente incluído.  
                                </p>
                                <p>
                                    Entre as novas medidas, está a possibilidade de reconhecimento voluntário da maternidade e  
                                    paternidade socioafetiva, que até então só era possível por meio de decisões judiciais ou em 
                                    poucos Estados que possuíam normas específicas para isso. Em relação às crianças geradas por 
                                    meio de reprodução assistida, a legislação retirou a exigência de identificação do doador de 
                                    material genético no registro de nascimento da criança. 
                                </p>
                                <p>
                                    Ressalta-se que quem já possui esses documentos não precisa fazer nenhuma alteração. 
                                    Mas para aquelas pessoas que desejam atualizar as suas certidões, podem incluir esses 
                                    números através dos cartórios, assim como poderão emitir a segunda via sem custo. 
                                </p>
                                <p>As novas certidões além do local de nascimento, ganharam o item naturalidade. Isto significa 
                                    que a naturalidade da criança não precisará ser, necessariamente, o local em que ela nasceu. 
                                    Dessa forma, a criança poderá ser cidadã do município em que ocorreu o parto ou do 
                                    município de residência da mãe, biológica ou adotiva, desde que dentro do território nacional. 
                                    Até então, o local de nascimento e a naturalidade de uma pessoa precisavam, 
                                    necessariamente, ser o mesmo. </p>
                                <p>Outra inovação é que agora as certidões passarão a ter, espaços para averbar no futuro dados 
                                    como RG, PIS, NIS, Passaporte, dados do Cartão Nacional de Saúde, Título de Eleitor, CEP 
                                    Residencial e até tipo sanguíneo. </p>
                                <p>Tudo isto com os objetivos bastante específicos: de diminuir a burocracia, os custos, e possíveis 
                                    fraudes. 
                                    Quanto aos Novos Modelos Familiares 
                                    A norma também facilita o reconhecimento de novos modelos familiares como a chamada 
                                    maternidade ou paternidade socioafetiva. </p>
                                <p>Na nova certidão de nascimento a mudança abre caminho para que uma criança possa ser 
                                    registrada em cartório por uma mãe e um pai não biológico sem a necessidade de autorização 
                                    judicial. </p>
                                <p>Por exemplo: uma mãe solteira que registrou sozinha o seu filho, o novo companheiro dela 
                                    (padrasto) poderá reconhecer a criança como filho no cartório desde que haja consentimento 
                                    da mãe e da própria criança se ela tiver mais de 12 anos. </p>
                                <p>Aquele que reconhece passa a ter os mesmos deveres e obrigações como pai biológico fosse. 
                                    Nesses direitos podemos citar: direito à herança, direito à pensão alimentícia, nome, etc. Tudo 
                                    isto vale para casais heterossexuais ou homossexuais. </p>
                                <p>Outra mudança importante sobre as certidões de nascimento, é que o registro dos pais passa a 
                                    ser identificado como “filiação”, em vez de genitores, e não poderá haver espaços delimitados 
                                    para pais e mães. Isso ocorre para que, no caso de o pai ser desconhecido, o documento não 
                                    ficar com um espaço em branco. Também não será mais obrigatório o registro do doador de 
                                    material biológico, no caso de reprodução assistida. </p>
                                <p>Fonte:
                                   1. CNJ | 20/11/2017. </p>
                            </div>
    
                            <div class="c-comments">
    
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">Comentários</h3>
                                    <div class="c-line-left" style="background-color:#04244d"></div>
                                </div>
    
                                <div class="fb-comments" data-href="http://www.inteligenciacartorial.com.br/certidoes-de-cara-nova" data-width="100%" data-numposts="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <form action="#" method="post">
                        <div class="input-group">
                          <input type="text" class="form-control c-square c-theme-border" placeholder="Pesquisar no blog...">
                          <span class="input-group-btn">
                            <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Ir!</button>
                          </span>
                        </div>
                    </form>
    

    
                    <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">Categorias</h3>
                                <div class="c-line-left c-theme-bg" style="background-color:#04244d !important"></div>
                            </div>
                            <ul class="c-menu c-arrow-dot1 c-theme">
                                <li><a href="#">Notícias</a></li>
                                <li><a href="#">Artigos</a></li>
                                <li><a href="#">Lazer</a></li>
                            </ul>
                        </div><!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                </div>
            </div>
        </div> 
    </div>
    