<style>
    a:hover{
        color:#04244d
    }

    .c-theme-ul-bg > li {
    color: #ffffff;
    background: rgb(59, 192, 59) !important;
}

.c-theme-btn.btn {
    color: #ffffff;
    background: #04244d;
    border-color: #04244d;
}

.c-theme-border {
    border-color: #04244d !important;
}
</style>
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="c-content-blog-post-1-view">
                        <div class="c-content-blog-post-1">
                            <div class="c-media">
                                <div class="c-content-media-2-slider" data-slider="owl">
                                    <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/date.jpeg); min-height: 460px;">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/pribeiro.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="c-title c-font-bold c-font-uppercase">
                                <a href="#">Contrato de namoro. Pode ser feito 
                                    em um cartório de notas? </a>
                            </div>
    
                            <div class="c-panel c-margin-b-30">
                                <div class="c-author"><a href="#">por <span class="c-font-uppercase">Poliana Ribeiro</span></a></div>
                                <div class="c-date">on <span class="c-font-uppercase">30 de novembro de 2017</span></div>
                                <ul class="c-tags c-theme-ul-bg">
                                    <li>Notícias</li>
                                </ul>							
                            </div>
    
                            <div class="c-desc" style="text-align:justify">
                                <p>
                                    Cada vez mais casais de namorados têm se preocupado com os efeitos que o 
                                    reconhecimento de uma união estável poderia trazer para aquele relacionamento. Essa 
                                    crescente preocupação veio, em grande parte, após a edição da Lei nº 9.278/96, que 
                                    afastou o antigo prazo mínimo de cinco anos de convivência que constava na Lei nº 8.971
                                    /94. 
                                </p>
                                <p>
                                    Ademais, a Constituição Federal de 1988, em seu artigo 226, § 3º, nada dispôs em relação 
                                    ao prazo mínimo para a configuração da união estável. O Código Civil de 2002, da mesma 
                                    forma, não trouxe qualquer inovação relevante, mas manteve a mesma sistemática da Lei 
                                    nº 9.278/96 ao dispor, no artigo 1.723, que “É reconhecida como entidade familiar a união 
                                    estável entre o homem e a mulher, configurada na convivência pública, contínua e 
                                    duradoura, com o objetivo de constituição de família”. 
                                </p>
                                <p>
                                    Dessa forma, percebe-se que um simples namoro poderá rapidamente se tornar uma união 
                                    estável, independente do casal estar junto há anos, meses ou até mesmo semanas. Ficou, 
                                    portanto, a critério do Judiciário a análise da situação de fato e documental para declarar 
                                    que aquela relação é pública, contínua e duradoura, e tem o objetivo de constituir uma 
                                    família, ou seja, uma união estável. 
                                </p>
                                <p>
                                    O reconhecimento de uma união estável pode trazer vários efeitos indesejados para o 
                                    casal, principalmente patrimoniais, como o direto de repartir todos os bens adquiridos 
                                    durante a convivência, direito a alimentos (no caso de dissolução da união), e o direito à 
                                    herança, no caso de falecimento do companheiro, recentemente equiparado ao casamento 
                                    pelo Supremo Tribunal Federal (RE 878694 – MG).​
                                    Com receio dos efeitos mencionados, alguns casais de namorados têm buscado os 
                                    Cartórios de Notas para lavrar uma espécie de documento (chamado de Escritura Pública 
                                    de Contrato de Namoro), em que declaram de livre e espontânea vontade que aquela 
                                    relação é um mero namoro, e que não desejam que seja reconhecida como uma união 
                                    estável. 
                                </p>
                                <p>Mas muito se discute na doutrina e na jurisprudência sobre a validade deste instrumento, 
                                    pois as regras que tratam da união estável são consideradas normas de ordem pública, ou 
                                    seja, inafastáveis pela simples vontade das partes. Então, qual seria a utilidade deste 
                                    Contrato de Namoro? </p>
                                <p>O eminente professor e notário Zeno Veloso entende que o Contrato de Namoro poderá 
                                    prevenir graves discussões patrimoniais:​
                                    Diante disso, pela insegurança que envolve o assunto, para evitar riscos e prejuízos que 
                                    podem advir de uma ação com pedidos de ordem patrimonial, alegando-se a existência de 
                                    uma união estável, com o rol imenso de efeitos patrimoniais que enseja, quando, de fato e 
                                    realmente, só havia namoro, sem maior comprometimento, algumas pessoas combinam e 
                                    celebram o que se tem denominado contrato de namoro. Já se vê que não é acordo de 
                                    vontades que tem por objeto determinar, singelamente, a existência de um namoro, que, se 
                                    assim fosse, nem contrato, tecnicamente, seria. Mas, deixando de lado a questão 
                                    terminológica e indo direto ao ponto, tal avença, substancialmente, é uma declaração 
                                    bilateral em que pessoas maiores, capazes, de boa-fé, com liberdade, sem pressões, 
                                    coações ou induzimento, confessam que estão envolvidas num relacionamento amoroso, 
                                    que se esgota nisso mesmo, sem nenhuma intenção de constituir família, sem o objetivo de 
                                    estabelecer uma comunhão de vida, sem a finalidade de criar uma entidade familiar, e esse 
                                    namoro, por si só, não tem qualquer efeito de ordem patrimonial, ou conteúdo 
                                    econômico.[1] (grifos nossos) </p>
                                <p>Nesse sentido, a renomada advogada Regina Beatriz Tavares da Silva também defende o 
                                    que ela chama de “declaração de namoro”, mas alerta que tal declaração deve retratar a 
                                    realidade, não podendo ser um instrumento para encobrir uma união estável:​
                                    Há quem diga que a celebração do equivocadamente chamado “contrato de namoro” 
                                    configura ato ilícito. Porém, quem faz esse tipo de afirmação esquece de que a declaração 
                                    de namoro serve para provar o que efetivamente existe, ou seja, relação de afeto sem 
                                    consequências jurídicas. Essa declaração somente pode ser tida como ilícita se falsear a 
                                    verdadeira relação que existe entre aquelas duas pessoas, ou seja, declararem que há 
                                    namoro quando, na verdade, o que existe é união estável.[2] </p>
                                <p>Apesar de poucas decisões judiciais sobre o assunto, finalizamos este artigo mencionando 
                                    um relevante precedente do Tribunal de Justiça do Estado de São Paulo que, ao julgar o 
                                    pedido de reconhecimento de uma união estável, considerou como uma das provas a 
                                    existência de um contrato de namoro firmado entre o casal:​
                                    “Verifica-se que os litigantes convencionaram um verdadeiro contrato de namoro, 
                                    celebrado em janeiro de 2005, cujo objeto e cláusulas não revelam ânimo de constituir 
                                    família”(gn). (TJSP – Apelação n. 9103963-90.2008.8.26.0000. 9ª Câmara de Direito Privado. 
                                    Relator: Grava Brazil. Data de julgamento: 12/08/2008).​</p>
                                <p>Conclui-se, portanto, que o contrato de namoro não têm o condão, por si só, de afastar os 
                                    efeitos da união estável, mas é perfeitamente lícito e tem sido considerada uma importante 
                                    prova para atestar que o relacionamento se trata apenas de um namoro, sendo que a sua 
                                    formalização perante um Cartório de Notas dará mais credibilidade e segurança, pois o 
                                    tabelião de notas tem a fé pública para confirmar a livre e certa manifestação da vontade 
                                    das partes que o procuram. </p>
                                <p>NOTAS 
                                    [1] VELOSO, Zeno. É Namoro ou União Estável. 2016. Disponível em: . Acesso em: 29 mai. 
                                    2017.​
                                    [2] SILVA, Regina Beatriz Tavares da. Contrato de namoro. 2016. Disponível em: . Acesso em: 
                                    29 mai. 2016.</p>
                            </div>
    
                            <div class="c-comments">
    
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">Comentários</h3>
                                    <div class="c-line-left" style="background-color:#04244d"></div>
                                </div>
    
                                <div class="fb-comments" data-href="http://www.inteligenciacartorial.com.br/contrato-namoro" data-width="100%" data-numposts="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <form action="#" method="post">
                        <div class="input-group">
                          <input type="text" class="form-control c-square c-theme-border" placeholder="Pesquisar no blog...">
                          <span class="input-group-btn">
                            <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Ir!</button>
                          </span>
                        </div>
                    </form>
    

    
                    <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">Categorias</h3>
                                <div class="c-line-left c-theme-bg" style="background-color:#04244d !important"></div>
                            </div>
                            <ul class="c-menu c-arrow-dot1 c-theme">
                                <li><a href="#">Notícias</a></li>
                                <li><a href="#">Artigos</a></li>
                                <li><a href="#">Lazer</a></li>
                            </ul>
                        </div><!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                </div>
            </div>
        </div> 
    </div>
    