<style>
.c-bg-green {
    background-color: #04244d !important;
}

.c-btn-border-2x.c-btn-white.btn-no-focus:hover, .c-btn-border-2x.c-btn-white:hover, .c-btn-border-2x.c-btn-white.btn-no-focus:active, .c-btn-border-2x.c-btn-white:active, .c-btn-border-2x.c-btn-white.active, .open > .c-btn-border-2x.c-btn-white.dropdown-toggle {
    color: white;
    background: #243346;
    border-color: white;
}

.c-content-title-1 > .c-line-right, .c-content-title-1 > .c-line-left {
    width: 30px;
    height: 3px;
    background-color: #04244d;
    margin: 0 0 30px 0;
}

</style>


<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both" style="background-image:url(/bgquemsomos-01.png); background-size:cover; height:200px">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase" style="color:#04244d; font-size:40px">Conheça a <b class="c-font-uppercase" style="color:#04244d; font-size:40px">P. Ribeiro</b></h3>
			<p class="c-font-uppercase" style="color:#04244d; font-size:30px"> Inteligência Cartorial</p>
		</div>	
    </div>
</div>

<!-- BEGIN: CONTENT/CONTACT/FEEDBACK-1 -->
<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="c-content-feedback-1 c-option-1">
			<div class="row">
				<div class="col-md-6">
					<div class="c-container c-bg-green c-bg-img-bottom-right" style="background-image: url(whatsapp-icon.png) !important;">
						<div class="c-content-title-1 c-inverse">
							<h3 class="c-font-uppercase c-font-bold">Entre em contato via <span style="color:rgb(59, 192, 59)">whatsapp</span>!</h3>
							<div class="c-line-left"></div>
							<p class="c-font-lowercase"></p>
							<a href="#" class="btn btn-md c-btn-border-2x c-btn-white c-btn-uppercase c-btn-square c-btn-bold">Envie uma mensagem!</a>
						</div>
					</div>
					<div class="c-container c-bg-img-bottom-right" >
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="c-contact">
						<div class="c-content-title-1">
							<h3  class="c-font-uppercase c-font-bold">Envie-nos um email!</h3>
							<div class="c-line-left"></div>
							<p class="c-font-lowercase" style="font-size:20px">A <b style="color:#04244d; text-align:justify !important">P. Ribeiro Inteligência Cartorial</b> está a sua disposição para solucionar seus problemas burocráticos e te ajudar a ter uma vida melhor. Aguardamos seu contato!</p>
						</div>
						<form action="#">
							<div class="form-group">
                        		<input type="text" placeholder="Nome" class="form-control c-square c-theme input-lg">
                        	</div>
                        	<div class="form-group">
                        		<input type="text" placeholder="Email" class="form-control c-square c-theme input-lg">
                        	</div>
                        	<div class="form-group">
                        		<input type="text" placeholder="Celular" class="form-control c-square c-theme input-lg">
                        	</div>
		                   	<div class="form-group">
                        	   	<textarea rows="8" name="message" placeholder="Coloque aqui sua mensagem..." class="form-control c-theme c-square input-lg"></textarea>
		                    </div>
		                    <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square" style="border-color:rgb(59, 192, 59);background-color:rgb(59, 192, 59)">Enviar</button> 
	                   	</form>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
