<style>

</style>

<div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url(../../assets/base/img/content/backgrounds/bg-65.jpg)">
	<div class="container">
		<!-- Begin: testimonials 4 component -->
		<div class="c-content-testimonials-4" data-slider="owl">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Veja os depoimentos de quem conhece a P. Ribeiro Intleigência Cartorial!</h3>
				<div class="c-line-center c-theme-bg" style="background-color:#04244d !important"></div>
			</div>
			<!-- End-->
			<!-- Begin: Owlcarousel -->
			<div class="owl-carousel c-theme c-owl-nav-center" data-single-item="true" data-slide-speed="5000" data-navigation-label="true" data-rtl="false">
				<div class="item">
					<div class="c-content-testimonial-4">
						<div class="c-content">
							"Quero deixar aqui meu agradecimento a P. Ribeiro pela 
                            assessoria e condução da escritura lavrada no 5° Tabelionato, me 
                            assessorando desde o início, vindo até a Imobiliária sempre que 
                            necessário, deixando tudo pronto no Cartório para um processo 
                            de imóvel objeto de inventário, com vários herdeiros e 
                            procuração internacional. Porém foi muito tranquilo devido a 
                            condução feita pela P. Ribeiro. Recomendo com tranquilidade 
                            pelo profissionalismo".
						</div>
						<div class="c-person">
							<img src="" class="img-responsive">
							<div class="c-person-detail c-font-uppercase">
								<h4 class="c-name">Marise Rodrigues</h4>
								<p class="c-position c-font-bold c-theme-font">Corretora de Imóveis, Adão Imóveis.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="c-content-testimonial-4">
						<div class="c-content">
							"Gostaria de agradecer pelo atendimento e eficiência para 
                            comigo e meus clientes. Muito comprometida nos «feedbacks» e 
                            atenciosa com os trâmites do inventário. Espero novamente 
                            contar com seu apoio na próxima escritura ou qualquer consulta 
                            que porventura venha necessitar".
						</div>
						<div class="c-person">
							<img src="" class="img-responsive">
							<div class="c-person-detail c-font-uppercase">
								<h4 class="c-name">Fábio Carrijo</h4>
								<p class="c-position c-font-bold c-theme-font">Corretor de Imóveis, URBS Alto padrão</p>
							</div>
						</div>
					</div>
                </div>
                <div class="item">
					<div class="c-content-testimonial-4">
						<div class="c-content">
							"Tive a oportunidade de ser atendido pela P. Ribeiro em uma 
                            demanda e fiquei muito satisfeito. Doze meses antes tive um 
                            caso muito semelhante que demandou dias e várias idas ao 
                            Cartório. Com a P. Ribeiro a solução foi muito simples, eficaz e 
                            tudo foi resolvido em menos de 2 horas. Ela demonstrou ter bom 
                            trânsito nas instituições e muito conhecimento de causa para 
                            resolver as questões."
						</div>
						<div class="c-person">
							<img src="" class="img-responsive">
							<div class="c-person-detail c-font-uppercase">
								<h4 class="c-name">Cláudio Rodrigues</h4>
								<p class="c-position c-font-bold c-theme-font">Proprietário da Agroshop. </p>
							</div>
						</div>
					</div>
                </div>
                <div class="item">
					<div class="c-content-testimonial-4">
						<div class="c-content">
							"O trabalho feito pela P. Ribeiro foi muito importante para nosso processo de 
                            imigração para os EUA nos orientando em todas as procurações e demais 
                            orientações para um longo período que ficamos fora do país e precisamos seguir 
                            gerenciando os negócios no Brasil. Neste período nos ajudou diretamente em 
                            questões específicas em nossas empresas Champion e Agroshop. Realmente são 
                            diferenciados os serviços e consultoria da P. Ribeiro. Recomendo a todos". 
						</div>
						<div class="c-person">
							<img src="" class="img-responsive">
							<div class="c-person-detail c-font-uppercase">
								<h4 class="c-name">André Rocha</h4>
								<p class="c-position c-font-bold c-theme-font">Proprietário da Champion e Agroshop </p>
							</div>
						</div>
					</div>
                </div>
                <div class="item">
					<div class="c-content-testimonial-4">
						<div class="c-content">
							"Sou Advogado e sei o quanto as lides cartoriais podem 
                            empecilhar o bom andamento de um trabalho. Recentemente 
                            atuei em um inventário extrajudicial e tive o assessoramento da 
                            P. Ribeiro, que teve uma atuação essencial para que o processo 
                            chegasse a bom termo. Sua expertise nas questões cartorárias, 
                            aliada à sua disposição para o trabalho, e bom senso nos 
                            aconselhamentos, otimizou enormemente o curso dos 
                            procedimentos, evitando incontáveis idas e vindas ao cartório, 
                            bem como foi profícua nas tomadas de decisões. A atuação da P. 
                            Ribeiro se tornou indispensável para mim".
						</div>
						<div class="c-person">
							<img src="" class="img-responsive">
							<div class="c-person-detail c-font-uppercase">
								<h4 class="c-name">Amilcar Pimenta de Morais</h4>
								<p class="c-position c-font-bold c-theme-font">Advogado</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End-->
		</div>
		<!-- End-->
	</div>
</div><!-- END: CONTENT/TESTIMONIALS/TESTIMONIALS-10 -->
