<style>
    a:hover{
        color:#04244d
    }

    .c-theme-ul-bg > li {
    color: #ffffff;
    background: rgb(59, 192, 59) !important;
}

.c-theme-btn.btn {
    color: #ffffff;
    background: #04244d;
    border-color: #04244d;
}

.c-theme-border {
    border-color: #04244d !important;
}
</style>
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="c-content-blog-post-1-view">
                        <div class="c-content-blog-post-1">
                            <div class="c-media">
                                <div class="c-content-media-2-slider" data-slider="owl">
                                    <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/blog/passaporte.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/pribeiro.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="c-title c-font-bold c-font-uppercase">
                                <a href="#">Já pensou na facilidade que será tirar 
                                    documentos pessoais, inclusive passaporte, 
                                    no cartório?</a>
                            </div>
    
                            <div class="c-panel c-margin-b-30">
                                <div class="c-author"><a href="#">por <span class="c-font-uppercase">Poliana Ribeiro</span></a></div>
                                <div class="c-date">on <span class="c-font-uppercase">24 de outubro de 2017</span></div>
                                <ul class="c-tags c-theme-ul-bg">
                                    <li>Notícias</li>
                                </ul>							
                            </div>
    
                            <div class="c-desc" style="text-align:justify">
                                <p>
                                    Os cartórios de registro civil brasileiros, onde são emitidas certidões de nascimento e de 
                                    casamento, por exemplo, passarão também a entregar RG, passaporte, carteira de trabalho e 
                                    outros documentos pessoais em todo o país, por conta de uma lei federal de setembro deste 
                                    ano. 
                                </p>
                                <p>
                                    Por enquanto, o serviço está limitado a alguns cartórios do Rio de Janeiro. Lá, já existia uma lei 
                                    estadual que se antecipou à nova regra federal; e, nestes cartórios, só é possível tirar o RG, até 
                                    o momento. 
                                </p>
                                <p>
                                    A novidade ainda não foi implantada nos cartórios de registro civil brasileiros. A lei 13.484/17 
                                    diz que documentos pessoais como passaporte, RG, CPF e carteira de trabalho poderão ser 
                                    tirados nesses estabelecimentos, o que facilita uma vez que eles estão bem distribuídos pelo 
                                    país e não são exclusivos das grandes cidades.  
                                </p>
                                <p>
                                    A diretora da Associação Nacional dos Registradores de Pessoas Naturais (Arpen-BR), Ana Paula 
                                    Caldeira, explica que, no entanto, deve levar um tempo até que o serviço esteja disponível: “Na 
                                    prática, ainda não dá para todo mundo ir tirar os documentos no cartório. A lei estabeleceu 
                                    essa possibilidade, mas a implantação depende de convênios dos cartórios com órgãos 
                                    públicos, como Receita Federal e Ministério do Trabalho”. 
                                </p>
                                <p>
                                    A emissão de documentos pessoais nos cartórios facilitará a vida de muita gente que vive em 
                                    cidades pequenas, ou que não têm uma unidade do órgão de entrega e coleta de documento. 
                                </p>
                                <p>"Toda cidadezinha tem um cartório. Temos mais de 13 mil pelo País. A ideia é aproveitar essa 
                                    capilaridade para emitir estes documentos”, explica a representante. 
                                </p>
                                <p>
                                    Os documentos continuarão sendo confeccionados pelos órgãos responsáveis, “até por 
                                    questões de segurança”. 
                                </p>
                                <p>
                                    Por enquanto, não há previsão de quando o serviço estará disponível em todo o Brasil, pois ele 
                                    depende das parcerias entre as entidades envolvidas. 
                                </p>
                                <p>
                                    Desde agosto, os cartórios de registro civil de Niterói, Araruama, Cabo Frio, Petrópolis e 
                                    Sapucaia emitem carteira de identidade em parceria com o Detran, órgão responsável pelo 
                                    documento. 
                                </p>
                                <p>
                                    “A pessoa comparece ao cartório, preenche um formulário, faz a coleta de digital e tira a foto 
                                    para o documento. Tudo isso é encaminhado para o Detran e depois recebemos o documento 
                                    pronto”, esclarece Ana Paula.  
                                </p>
                                <p>
                                    Além das taxas de emissão, é cobrada uma taxa de R$ 27 para que o procedimento aconteça 
                                    no cartório – mas, também não há estimativas de quanto o serviço custará em outros cartórios 
                                    do Brasil.  
                                </p>
                            </div>
    
                            <div class="c-comments">
    
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">Comentários</h3>
                                    <div class="c-line-left" style="background-color:#04244d"></div>
                                </div>
    
                                <div class="fb-comments" data-href="http://www.inteligenciacartorial.com.br/facilidade-passaporte-cartorio" data-width="100%" data-numposts="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <form action="#" method="post">
                        <div class="input-group">
                          <input type="text" class="form-control c-square c-theme-border" placeholder="Pesquisar no blog...">
                          <span class="input-group-btn">
                            <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Ir!</button>
                          </span>
                        </div>
                    </form>
    

    
                    <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">Categorias</h3>
                                <div class="c-line-left c-theme-bg" style="background-color:#04244d !important"></div>
                            </div>
                            <ul class="c-menu c-arrow-dot1 c-theme">
                                <li><a href="#">Notícias</a></li>
                                <li><a href="#">Artigos</a></li>
                                <li><a href="#">Lazer</a></li>
                            </ul>
                        </div><!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                </div>
            </div>
        </div> 
    </div>
    