<style>
    .c-layout-breadcrumbs-1 {
    padding: 25px 0;
    background: #061847;
}

.cbp-l-filters-button .cbp-filter-counter, .cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color: #061847;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #061847;
    display: none;
}
</style>
<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase c-font-sbold" style="color:white;font-size:26px">Veja nossos <b>vídeos</b>!</h3>
        </div>
	</div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
		<!-- BEGIN: PAGE CONTENT -->
		<!-- Begin: Content box -->
<div class="c-content-box c-size-md">
	<div class="container">
		<!-- Begin: Cubeportfolio grid --> 
		<div class="cbp-panel">
	        <div id="filters-container" class="cbp-l-filters-buttonCenter">
	            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
	                Todos <div class="cbp-filter-counter"></div>
	            </div>
	            <div data-filter=".sobre" class="cbp-filter-item">
	                Sobre a P. Ribeiro Inteligência Cartorial <div class="cbp-filter-counter"></div>
	            </div>
	            <div data-filter=".servicos" class="cbp-filter-item">
	               Sobre nossos Serviços <div class="cbp-filter-counter"></div>
	            </div>
	            <div data-filter=".noticias" class="cbp-filter-item">
	               Notícias <div class="cbp-filter-counter"></div>
				</div>
				<div data-filter=".eventos" class="cbp-filter-item">
						Eventos <div class="cbp-filter-counter"></div>
				</div>
				<div data-filter=".duvidas" class="cbp-filter-item">
						Tire suas dúvidas <div class="cbp-filter-counter"></div>
				</div>
	        </div>

	        <div id="grid-container" class="cbp cbp-l-grid-masonry-projects">
	            <div class="cbp-item identity sobre servicos">
	                <div class="cbp-caption">
	                    <div class="cbp-caption-defaultWrap">
	                        <img src="/videos/covervideo1-01.jpg" alt="">
	                    </div>
	                    <div class="cbp-caption-activeWrap icon-control-play">
	                    	<div class="c-masonry-border"></div>
	                        <div class="cbp-l-caption-alignCenter">
	                            <div class="cbp-l-caption-body">
	                                <a href="https://vimeo.com/245927483" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">Assistir</a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <a href="https://vimeo.com/245927483" class="cbp-lightbox cbp-l-grid-masonry-projects-title" style="color:#061847">Cansado de problemas burocráticos?</a>
	                <div class="cbp-l-grid-masonry-projects-desc">Conheça a P. Ribeiro Inteligência Cartorial</div>
				</div>
				<div class="cbp-item identity web-design sobre">
						<div class="cbp-caption">
							<div class="cbp-caption-defaultWrap">
								<img src="/videos/covervideo2-01.jpg" alt="">
							</div>
							<div class="cbp-caption-activeWrap icon-control-play">
								<div class="c-masonry-border"></div>
								<div class="cbp-l-caption-alignCenter">
									<div class="cbp-l-caption-body">
										<a href="https://vimeo.com/245928088" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase">Assistir</a>
									</div>
								</div>
							</div>
						</div>
						<a href="https://vimeo.com/245928088" class="cbp-lightbox cbp-l-grid-masonry-projects-title" style="color:#061847">Como surgiu a P. Ribeiro Inteligência Cartorial</a>
						<div class="cbp-l-grid-masonry-projects-desc">Conheça a P. Ribeiro Inteligência Cartorial</div>
				</div>
	            
	        </div>

	        <div id="loadMore-container" class="cbp-l-loadMore-button c-margin-t-60">
	            <a href="ajax/masonry-gallery/load-more.html" class="cbp-l-loadMore-link btn c-btn-square c-btn-border-2x c-btn-dark c-btn-bold c-btn-uppercase">
	                <span class="cbp-l-loadMore-defaultText">MAIS VÍDEOS</span>
	                <span class="cbp-l-loadMore-loadingText">CARREGANDO...</span>
	                <span class="cbp-l-loadMore-noMoreLoading">SEM MAIS VÍDEOS</span>
	            </a>
	        </div>
    	</div>
    	<!-- End-->
	</div>

			
<!-- END: LAYOUT/BASE/BOTTOM -->
