<style>
	.c-content-title-1 > .c-line-center {
		width: 30px;
		height: 3px;
		background-color: #04244d;
		margin: 0 auto 30px auto;
	}

	.tp-bullets.round > .tp-bullet.selected {
    background: rgb(65, 65, 65);
}

.c-theme-font, .c-theme-color {
    color: #04244d !important;
}

.c-bg-red {
    background-color: #04244d  !important;
}

.c-theme-btn.c-btn-border-2x {
    border-color: #208323;
    border-width: 2px;
    color: #208323;
    background: none;
    border-color: #208323;
}

.c-theme-btn.c-btn-border-2x.btn-no-focus:hover, .c-theme-btn.c-btn-border-2x:hover, .c-theme-btn.c-btn-border-2x.btn-no-focus:active, .c-theme-btn.c-btn-border-2x:active, .c-theme-btn.c-btn-border-2x.active, .open > .c-theme-btn.c-btn-border-2x.dropdown-toggle {
    color: #ffffff;
    background: #208323;
    border-color: #208323;
}
</style>
<section class="c-layout-revo-slider c-layout-revo-slider-2" dir="ltr">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="tp-banner rev_slider" data-version="5.0">
			<ul>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000">			
					<img 
						alt="" 
						src="bg1-01.png"
						data-bgposition="center center" 
						data-bgfit="cover" 
						data-bgrepeat="no-repeat"
					>	

					<!--BEGIN: MAIN TITLE -->
					<div class="tp-caption customin customout tp-resizeme"  
						data-x="center" 
						data-y="center"
						data-hoffset="[0, 0 ,20 ,-100]" 
						data-voffset="-130"

						data-speed="500" 
						data-start="1000" 
						data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
						data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" 
						
						data-splitin="none" 
						data-splitout="none" 
						data-elementdelay="0.1" 
						data-endelementdelay="0.1" 
						data-endspeed="600" 
						>
						<h3 class="c-font-50 c-font-uppercase c-font-white " style="color:#04244d !important">
						SUA VIDA MAIS <b class="c-font-50 c-font-uppercase ">SIMPLES</b>!
						</h3>
					</div>
					<!--END -->

					<!--BEGIN: SUB TITLE -->
					<div class="tp-caption customin customout tp-resizeme"  
						data-x="center" 
						data-y="center"
						data-hoffset="[0, 0 ,20 ,-100]" 
						data-voffset="-20"

						data-speed="500" 
						data-start="1500" 
						data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
						data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" 
						
						data-splitin="none" 
						data-splitout="none" 
						data-elementdelay="0.1" 
						data-endelementdelay="0.1" 
						data-endspeed="600" 
						>
						<p class="c-font-30 c-font-white " style="color:#04244d !important">
						Somos o <b class="c-font-30 c-font-white " style="color:#04244d !important">elo</b> que faltava entre seu problema e a <b class="c-font-30 c-font-white " style="color:#04244d !important">solução</b>.
						</p>
					</div>
					<!--END -->

					<!--BEGIN: ACTION BUTTON -->
					<div style="background-color:white" class="tp-caption randomrotateout tp-resizeme"  
						data-x="center" 
						data-y="center" 
						data-hoffset="[0, 0 ,20 ,-100]" 
						data-voffset="100"
						data-speed="500" 
						data-start="2000"
						data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
						data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" >
							<a href="/quem-somos" class="btn btn-xlg c-btn-square c-btn-bold c-btn-border-2x c-btn-white c-btn-uppercase" style="font-size:30px; color:rgb(59, 192, 59)">Conheça!</a>
					</div>
					<!--END -->
		 		</li>
		 		<!--END -->

				<!--BEGIN: SLIDE #2 -->
				<!-- <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">			
					<img 
						alt="" 
						src="../../assets/base/img/content/backgrounds/bg-32.jpg"
						data-bgposition="center center" 
						data-bgfit="cover" 
						data-bgrepeat="no-repeat"
					>	 -->

					<!--BEGIN: MAIN TITLE -->
					<!-- <div class="tp-caption customin customout tp-resizeme"  
						data-x="center" 
						data-y="center"
						data-voffset="-100"

						data-speed="500" 
						data-start="1000" 
						data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
						data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" 
						
						data-splitin="none" 
						data-splitout="none" 
						data-elementdelay="0.1" 
						data-endelementdelay="0.1" 
						data-endspeed="600" 
						>
						<h3 class="c-font-50 c-font-bold c-font-uppercase c-font-white">
						Ultimate Multipurpose theme
						</h3>
					</div> -->
					<!--END -->

					<!--BEGIN: SUB TITLE -->
					<!-- <div class="tp-caption customin customout tp-resizeme"  
						data-x="center" 
						data-y="center"
						data-voffset="10"

						data-speed="500" 
						data-start="1500" 
						data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
						data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" 
						
						data-splitin="none" 
						data-splitout="none" 
						data-elementdelay="0.1" 
						data-endelementdelay="0.1" 
						data-endspeed="600" 
						>
						<p class="c-font-24 c-font-white c-center">
						Lorem ipsum dolor sit amet, consectetuer adipicing<br> 
						Dolor sit amet, consectetuer sit elit<br>
						</p>
					</div> -->
					<!--END -->

					<!--BEGIN: ACTION BUTTON -->
					<!-- <div class="tp-caption randomrotateout tp-resizeme"  
						data-x="center" 
						data-y="center" 
						data-voffset="120"
						data-speed="500" 
						data-start="2000"
						data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;" 
						data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;" >
							<a href="#" class="btn btn-xlg c-btn-square c-btn-bold c-btn-border-2x c-theme-btn c-btn-uppercase">Explore</a>
					</div> -->
					<!--END -->
		 		<!-- </li> -->
		 		<!--END --> 
			</ul>
		</div>
	</div>
</section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-10 -->

<div class="c-content-box c-size-md c-bg-grey-1">
		<div class="container">
			<div class="c-content-bar-2 c-opt-1">
				<div class="row" data-auto-height="true">
					<div class="col-md-6">
						<!-- Begin: Title 1 component -->
						<div class="c-content-title-1" data-height="height">
							<h3 class="c-font-uppercase c-font-bold">Quanto vale seu tempo? </h3>
							<p class="c-font-uppercase c-font-sbold" style="font-size:20px">
								Valorize seu tempo, dinheiro e <b>bem estar</b>.
							</p>
							<a href="/quem-somos" class="btn btn-md c-btn-border-2x c-btn-square c-theme-btn c-btn-uppercase c-btn-bold">Conheça!</a>
						</div>
						<!-- End-->
					</div>
					<div class="col-md-6">
						<div class="c-content-v-center c-bg-red" data-height="height">
							<div class="c-wrapper">
								<div class="c-body">
									<h3 class="c-font-white c-font-bold" style="color:#ffffff !important; font-size:30px">a mudança já começou.</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
<!-- BEGIN: CONTENT/MISC/SERVICES-1 -->
<div class="c-content-box c-size-md c-bg-parallax">
	<div class="container">
		<div class="c-content-feature-9">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-font-uppercase c-center c-font-bold">Conheça como podemos ajudar você!</h3>
				<div class="c-line-center"></div>
				<p class="c-font-center" style="font-size:20px"> Para que você tenha uma experiência agradável e efetiva!</p>
			</div>
			<!-- End-->
			<ul class="c-list">
				<li class="wow animate fadeInUp">
					<div class="c-card">
						<i class="icon-check c-font-blue-1-5 c-font-22 c-bg-white c-float-left"></i>
						<div class="c-content c-content-left">
							<h3 class="c-theme-font c-font-uppercase c-font-bold">Resolução de problemas burocráticos</h3>
							<p>Quanto tempo você já perdeu em filas? Quantas voltas você já deu para resolver um problema simples? Livre-se disso e resolva sua vida.</p>
						</div>
					</div>
				</li>
				<li class="wow animate fadeInUp">
					<div class="c-card">
						<i class="icon-user c-font-blue-1-5 c-font-27 c-bg-white c-float-left"></i>
						<div class="c-content c-content-left">
							<h3 class="c-theme-font c-font-uppercase c-font-bold">Suporte Intelectual Personalizado</h3>
							<p>O seu problema é específico. Estudamos o seu caso para lhe trazer a solução mais rápida e eficaz.</p>
						</div>
					</div>
				</li>
				<li class="wow animate fadeInUp">
					<div class="c-card">
						<i class="icon-speedometer c-font-blue-1-5 c-font-27 c-bg-white c-float-left"></i>
						<div class="c-content c-content-left">
							<h3 class="c-theme-font c-font-uppercase c-font-bold">Agilidade</h3>
							<p>Tornamos os processos mais rápidos e efetivos para que você tenha mais tempo e tranquilidade.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="c-content-box c-size-md c-bg-img-top c-bg-parallax" style="background-image: url(/bg2-01.png)">
    <div class="container">
        <div class="c-content-feature-11">
            <div class="row">
                <div class="col-md-6 c-grid" data-auto-height="true" data-related="#c-video-card-3">
                    <ul class="c-grid-row">
                        <li>
                            <div class="c-bg-opacity-1 c-card" data-height="height">
                                <h3 class="c-font-uppercase c-font-bold" style="color:#04244d; font-size:30px">A Inteligência Cartorial</h3>
                                <p style="font-size:25px"><b>Viva essa experiência!</b></p>
                            </div>
                        </li>
                        
                    </ul>
                    
                </div>
                <div class="col-md-6 c-video">
                    <div id="c-video-card-3" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rne85CN1Z38" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Nossos parceiros</h3>
				<div class="c-line-center c-theme-bg" style="background-color:#04244d !important"></div>
			</div>
			<!-- End-->
			<!-- Begin: Owlcarousel -->
			<div class="owl-carousel owl-theme c-theme owl-bordered1 c-owl-nav-center" data-items="6" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="2" data-slide-speed="5000" data-rtl="false">
				
				<div class="item">
					<a href="https://acieg.com.br/">
						<img src="/parceiros/acieg-01.png" alt="" />
					</a>
				</div>
				<div class="item">
					<a href="http://ohoje.com">
						<img src="/parceiros/ohoje-01.png" alt="" />
					</a>
				</div>
				<div class="item">
					<a href="http://www.credibilitaimoveis.com.br/">
						<img src="/parceiros/credibilita-01.png" alt="" />
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="/parceiros/empreendedores-01.png" alt="" />
					</a>
				</div>
			</div>
			<!-- End-->
		</div>
		<!-- End-->
	</div>
</div>


	


