<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both" style="background-image:url(/bgquemsomos-01.png); background-size:cover; height:200px">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase" style="color:#04244d; font-size:40px"><b class="c-font-uppercase" style="color:#04244d; font-size:40px">Imobiliárias</b></h3>
		</div>	
    </div>
</div>

<div class="c-content-title-1 c-center c-margin-t-80">
    <h3 class="c-font-uppercase c-font-bold">Cenários e Oportunidades</h3>
    <div class="c-line-center" style="background-color:#04244d"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 wow animate fadeInUp" style="text-align:justify">			
            <p>A necessidade de efetividade
                e celeridade na solução das pretensões
                individuais, na sociedade moderna, se mostra cada dia mais evidente.
                Pensando nisso, a P. Ribeiro Inteligência Cartorial preocupa-se em
                garantir
                autencidade,
                segurança e eficácia aos atos jurídicos,
                provendo comodidade e evitando o desperdício de tempo do cliente
                por meio de um serviço especializado, exclusivo e personalizado, de
                modo a garantir
                atendimento onde for mais conveniente
                (no escritório, na empresa, ou até mesmo no cartório). Ademais,
                a orientação prévia permite dar substância a necessidade do cliente, e
                consequentemente formular o instrumento
                jurídico adequado à situação apresentada.</p>
            
                <br>
                <h3>Dificuldades observadas:</h3>

                
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li>Diculdade de acesso aos escreventes/cartórios.</li>
                        <li>Filas de espera</li>
                        <li>Tempo excessivo na conclusão do negócio, ocasionando prejuízos de toda ordem.</li>
                        <li>Atos inadequados.</li>
                        <li>Retrabalho.</li>
                    </ul>
        </div>
    </div>
</div>

<div class="c-content-box c-size-lg c-bg-img-top" style="background-image: url(../../assets/base/img/content/backgrounds/bg-65.jpg)">
	<div class="container">
		<div class="c-content-feature-6">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-font-uppercase c-center c-font-thin">Porque escolher a  P. Ribeiro <strong>Inteligência Cartorial</strong>?</h3>
				<div class="c-line-center c-theme-bg" style="background-color:#04244d !important"></div>
			</div>
			<!-- End-->
			<ul class="c-list">
				<li>
					<div class="c-card c-bg-opacity-1">
						<p>Devido à dificuldade de acesso aos escreventes, filas nos cartórios,
                            visando a economia de tempo do cliente e observando a necessidade
                            premente de omização
                            na prestação dos serviços cartorários para a
                            efetivação
                            dos negócios, a P. Ribeiro oferece tratamento exclusivo e
                            diferenciado, atuando como um instrumento de fechamento de
                            vendas reduzindo o tempo no processo de escrituração.</p>
                        <p>Uma vez concluída a venda, a P. Ribeiro Inteligência Cartorial deverá
                            ser acionada. Assim, entrará em contato com o cliente via telefone ou
                            pessoalmente, conforme a necessidade do caso e/ou preferência do
                            mesmo. As orientações serão fornecidas acerca da documentação,
                            a análise necessária será realizada, e com a maior presteza possível,
                            encaminhada para a lavratura. Os clientes irão ao cartório somente
                            para a assinatura. Por fim, a escritura será encaminhada para registro.
                            Durante todo o trâmite, até a conclusão do ato a P. Ribeiro estará à
                            disposição do cliente para prestar quaisquer informações.</p>
					</div>	
				</li>
				
			</ul>
		</div>
	</div> 
</div>

<div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url(bgimob-01.jpg)">
	<div class="c-content-feature-13">
		<div class="row c-reset">
			<div class="col-md-6 c-bg-white">
				<div class="c-feature-13-container">
					<div class="c-content-title-1">
						<h3 class="c-font-uppercase c-font-white c-font-bold" style="color:grey !important"><span class="c-theme-font" style="color:#04244d !important">Diferenciais</span> da P. Ribeiro Inteligência Cartorial</h3>
						<div class="c-line-left" style="background-color:#04244d"></div>
					</div>
					<div class="row">
						<div class="c-feature-13-tile">
							<i class="icon-like c-theme-font c-font-24" style="color:#04244d !important"></i>
							<div class="c-feature-13-content" style="text-align:justify">
								<h4 class="c-font-uppercase c-theme-font c-font-bold" style="color:#04244d !important">Confira o quanto você ganha com nossos serviços:</h4>
								<p class="c-font-grey" style="color:grey !important">Através do suporte intelectual e análise prévia acerca do ato mais
                                    adequado a cada caso, os clientes e corretores ganharão tempo e
                                    celeridade, haja vista a comodidade que terão em ser atendidos em
                                    seu local de trabalho ou onde preferir, pois não sofrerão com a
                                    espera nos cartórios, não terão dificuldade de acesso ao
                                    escrevente, evitando atos inadequados, retrabalho, já que a
                                    P. Ribeiro Inteligência Cartorial atua minimizando esses
                                    impedimentos para a conclusão dos atos.</p>
                                <p>É importante salientar a facilidade do cliente, quanto ao acesso às
                                    informações acerca do ato e seu andamento, pois terão assistência
                                    durante toda tramitação do ato na serventia
                                    extrajudicial.
                                    Isto consubstancia um alto nível de satisfação
                                    dos clientes,
                                    possibilitando maior eficiência na consecução
                                    de vendas e negociações.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="c-content-box c-size-lg c-bg-white">
	<div class="container">
		<!-- Begin: testimonials 1 component -->
		<div class="c-content-testimonials-1 c-option-2 wow animated fadeIn" data-slider="owl">

			<!-- Begin: Owlcarousel -->

			<div class="owl-carousel owl-theme c-theme c-owl-nav-center wow animated fadeInUp" data-single-item="true" data-slide-speed="8000" data-rtl="false"> 
                    <div class="item">
                            <div class="c-testimonial">
                                <p>
                                  “Gostaria de agradecer pelo atendimento e eficiência para
                                  comigo e meus clientes. Muito compromeda
                                  nos
                                  feedbacks e atenciosa com os trâmites do inventário.
                                  Espero novamente contar com seu apoio na próxima escritura
                                  ou qualquer consulta que por ventura necessite.”
                              </p>
                              <h3>
                                  <span class="c-name c-theme">Rafael Carrijo</span>, Corretor de Imóveis, URBS Alto Padrão
                              </h3>
                          </div>
                        </div> 
                <div class="item">
                    <div class="c-testimonial">
                        <p>
                          “Sou Advogado e sei o quanto as lides cartoriais podem
                          empecilhar o bom andamento de um trabalho. Recentemente
                          atuei em um inventário extrajudicial e tive
                          o assessoramento da
                          P. Ribeiro, que teve uma atuação essencial para que o processo
                          chegasse a bom termo. Sua expertise
                          nas questões cartorárias,
                          aliada à sua disposição para o trabalho, e bom senso nos
                          aconselhamentos, otimizou
                          enormemente o curso dos
                          procedimentos, evitando incontáveis idas e vindas ao cartório,
                          bem como foi profícua
                          nas tomadas de decisões. A atuação da
                          P. Ribeiro se tornou indispensável para mim.”
                      </p>
                      <h3>
                          <span class="c-name c-theme">Amilcar Pimenta de Morais</span>, Advogado
                      </h3>
                  </div>
                </div> 
                <div class="item">
			  		<div class="c-testimonial">
				  		<p>
		                    “Tive a oportunidade de ser atendido pela P. Ribeiro em uma
                            demanda e fiquei muito sasfeito.
                            Doze meses antes tive
                            um
                            caso muito semelhante que demandou dias e várias idas ao
                            Cartório. Com a P. Ribeiro a solução foi muito simples, eficaz e
                            tudo foi resolvido em menos de 2 horas. Ela demonstrou ter
                            bom trânsito nas instituições
                            e muito conhecimento de causa
                            para resolver as questões. ”
		                </p>
		                <h3>
		                    <span class="c-name c-theme">Cláudio Rodrigues</span>, Proprietário da Agroshop
		                </h3>
	                </div>
			  	</div>
			  	<div class="item">
			  		<div class="c-testimonial">
				  		<p>
		                    “Quero deixar aqui meu agradecimento a P. Ribeiro pela 
                            assessoria e condução da escritura lavrada no 5° Tabelionato, me 
                            assessorando desde o início, vindo até a Imobiliária sempre que 
                            necessário, deixando tudo pronto no Cartório para um processo 
                            de imóvel objeto de inventário, com vários herdeiros e 
                            procuração internacional. Porém foi muito tranquilo devido a 
                            condução feita pela P. Ribeiro. Recomendo com tranquilidade 
                            pelo profissionalismo”
	                    </p>
		                <h3>
		                    <span class="c-name c-theme">Marise Rodrigues</span>,  Corretora de Imóveis, Adão Imóveis
		                </h3>
	                </div>
			  	</div>		 
			</div>
	        <!-- End-->
	    </div>
	    <!-- End-->
	</div>
</div>