<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both" style="background-image:url(/bgquemsomos-01.png); background-size:cover; height:200px">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase" style="color:#04244d; font-size:40px"><b class="c-font-uppercase" style="color:#04244d; font-size:40px">Legislação</b></h3>
		</div>	
    </div>
</div>

<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="c-content-title-1 c-center c-margin-t-80">
			<h3 class="c-font-uppercase c-font-bold">Confira a Legislação</h3>
			<div class="c-line-center" style="background-color:#04244d"></div>
		</div>

		<div class="row">
			<div class="col-sm-4 wow animate fadeInUp">
				<ul class="c-content-list-1 c-theme c-separator-dot">
					<li><a href="https://presrepublica.jusbrasil.com.br/legislacao/503442765/lei-13484-17">Lei nº 13.484/17;</a></li>
					<li><a href="http://www.planalto.gov.br/Ccivil_03/Leis/L8935.htm">Lei nº 8.935/94;</a></li>
					<li><a href="http://www.cnj.jus.br/images/stories/docs_cnj/resolucao/rescnj_35.pdf">Resolução nº 35/07 – CNJ;</a></li>
					<li><a href="http://www.planalto.gov.br/ccivil_03/leis/L6216.htm">Lei 6.216/75;</a></li>
                    <li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2017/lei/L13456.htm">Lei 13.456/17;</a></li>
				</ul>
			</div>
			<div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.2s">
				<ul class="c-content-list-1 c-theme c-separator-dot">
					<li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/lei/l13347.htm">Lei 13.347/2016;</a></li>
					<li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/lei/L13313.htm">Lei 13.313/2016</a></li>
					<li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/lei/l13286.htm">Lei 13.286/2016;</a></li>
					<li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/lei/L13274.htm">Lei 13.274/2016;</a></li>
                    <li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13105.htm">Lei 13.105/2015;</a></li>
				</ul>
			</div>
			<div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.4s">
				<ul class="c-content-list-1 c-theme c-separator-dot">
					<li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/Mpv/mpv759.htm">Medida Provisória 759/2016;</a></li>
					<li><a href="http://www.cnj.jus.br/atos-normativos?documento=2299">Resolução Nº 228 de 22/06/2016;</a></li>
					<li><a href="http://www.cnj.jus.br/files/conteudo/arquivo/2016/05/3f333cee2a1cc8da065dbe15303b5f58.pdf">Provimentos CNJ 53/2016;</a></li>
					<li><a href="http://www.cnj.jus.br/files/conteudo/arquivo/2016/06/4b483927672435e01b29963081db995f.pdf">Recomendação nº 22/2016;</a></li>
					<li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/decreto/D8936.htm">Decreto nº 8.936/2016</a></li>
				</ul>
			</div>
		</div>
	</div> 
</div>