<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both" style="background-image:url(/bgquemsomos-01.png); background-size:cover; height:200px">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase" style="color:#04244d; font-size:40px">Pessoas <b class="c-font-uppercase" style="color:#04244d; font-size:40px">Físicas</b></h3>
		</div>	
    </div>
</div>

<div class="c-content-title-1 c-center c-margin-t-80">
    <h3 class="c-font-uppercase c-font-bold">Cenário Atual</h3>
    <div class="c-line-center" style="background-color:#04244d"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 wow animate fadeInUp" style="text-align:justify">			
            <p>A necessidade de efevidade
                e celeridade na solução das
                pretensões individuais, na sociedade moderna, se mostra cada dia
                mais evidente. Pensando nisso, a P. Ribeiro Inteligência Cartorial
                preocupa-se em garantir
                a autencidade,
                segurança e eficácia aos
                atos jurídicos, e ainda a comodidade de
                evitar a perda de tempo pelo cliente. </p>
            <p>Disponibiliza um serviço exclusivo e personalizado,
                que garante ao cliente atendimento onde for mais conveniente
                (residência, empresa, ou até mesmo no cartório). </p>				
            <p>Ademais, a orientação especializada consubstancia a vontade
                do cliente através da formulação do instrumento
                jurídico adequado à situação fática.</p>
                <br>
                <h3>Dificuldades observadas:</h3>

                
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li>Dificuldade de acesso aos escreventes/cartórios.</li>
                        <li>Filas de espera</li>
                        <li>Tempo excessivo na conclusão do negócio, ocasionando prejuízos de toda ordem.</li>
                        <li>Atos inadequados.</li>
                        <li>Retrabalho.</li>
                    </ul>
        </div>
    </div>
</div>

<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="c-content-title-1 c-margin-b-60">
					<h3 class="c-center c-font-uppercase c-font-bold">
						Por que a P. Ribeiro Inteligência Cartorial?
					</h3>					
					<div class="c-line-center" style="background-color:#04244d"></div>
					<p class="c-center c-font-17">
						A P. Ribeiro Inteligência Cartorial vai até o cliente, se assim for melhor,
                        de forma a garantir
                        que o cliente tenha a comodidade de ir até o
                        cartório somente no momento das assinaturas. Inicialmente,
                        é realizada uma avaliação técnica quanto ao pleito para verificar qual
                        ato melhor se adequa às necessidades do cliente. 
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-6 wow animate fadeInLeft">
				<div class="c-content-step-1 c-opt-1">
					<div class="c-icon"><span class="c-hr c-hr-first"><span class="c-content-line-icon c-icon-27 c-theme"></span></span></div>
					<div class="c-title c-font-20 c-font-bold c-font-uppercase">1. Análise das necessidades do cliente ao ato adequado</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 wow animate fadeInLeft" data-wow-delay="0.2s">
				<div class="c-content-step-1 c-opt-1">
					<div class="c-icon"><span class="c-hr"><span class="c-content-line-icon c-icon-1 c-theme"></span></span></div>
					<div class="c-title c-font-20 c-font-bold c-font-uppercase">2. Análise da documentação.</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.4s">
				<div class="c-content-step-1 c-opt-1">
					<div class="c-icon"><span class="c-hr c-hr-last"><span class="c-content-line-icon c-icon-8 c-theme"></span></span></div>
					<div class="c-title c-font-18 c-font-bold c-font-uppercase">3. Acompanhamento até a finalização do ato, com facilidade de acesso às informações acerda de seu andamento.</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url(bgpf-01.jpg)">
	<div class="c-content-feature-13">
		<div class="row c-reset">
			<div class="col-md-6" style="background-color:#04244d">
				<div class="c-feature-13-container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-white c-font-bold"><span class="c-theme-font" style="color:#a3a6a8 !important">Vantagens</span> Proporcionadas</h3>
						<div class="c-line-center c-theme-bg" style="background-color:white !important"></div>
					</div>
					<div class="row">
						<div class="col-sm-6 c-feature-13-tile">
							<i class="icon-clock c-theme-font c-font-24" style="color:white !important"></i>
							<div class="c-feature-13-content">
								<h4 class="c-font-uppercase c-theme-font c-font-bold" style="color:white !important">Economia do tempo</h4>
							
							</div>
						</div>
						<div class="col-sm-6 c-feature-13-tile">
							<i class="icon-user-following c-theme-font c-font-24" style="color:white !important"></i>
							<div class="c-feature-13-content">
								<h4 class="c-font-uppercase c-theme-font c-font-bold" style="color:white !important">Facilidade e agilidade no atendimento</h4>
								
							</div>
						</div>
					</div>
					<div class="row c-margin-t-40">
						<div class="col-sm-6 c-feature-13-tile">
							<i class="icon-diamond c-theme-font c-font-24" style="color:white !important"></i>
							<div class="c-feature-13-content">
								<h4 class="c-font-uppercase c-theme-font c-font-bold" style="color:white !important">Tratamento exclusivo</h4>
								
							</div>
						</div>
						<div class="col-sm-6 c-feature-13-tile">
							<i class="icon-magnifier c-theme-font c-font-24" style="color:white !important"></i>
							<div class="c-feature-13-content">
								<h4 class="c-font-uppercase c-theme-font c-font-bold" style="color:white !important">Análise técnica acerca do ato mais adequado à necessidade.</h4>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="c-content-title-1 c-center c-margin-t-80">
			<h3 class="c-font-uppercase c-font-bold">Competências</h3>
			<div class="c-line-center" style="background-color:#04244d"></div>
		</div>

		<div class="row">
			<div class="col-sm-4 wow animate fadeInUp">
				<ul class="c-content-list-1 c-theme c-separator-dot">
					<li>Análise da documentação</li>
					<li>Orientação acerca do ato adequado às necessidades do cliente</li>
					<li>Estudo e pesquisa de acordo com o caso concreto</li>
					<li>Economia de tempo do cliente</li>
                    <li>Tratamento exclusivo, especializado.</li>
                    <li>Atuação para que o cliente tenha a comodidade de ir até o cartório
                        somente no momento das assinaturas</li>
				</ul>
			</div>
			<div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.2s">
				<ul class="c-content-list-1 c-theme c-separator-dot">
					<li>Avaliação de pleitos</li>
					<li>Elaboração de contratos</li>
					<li>Registro dos contratos no Cartório de Títulos e Documentos</li>
					<li>Registro de documentos (atas de assembléias, procurações parculares estrangeiras, etc) no Cartório de Títulos e Documentos</li>
                    <li>Solicitação de certidões nas serventias extrajudiciais competentes</li>
                    <li>Facilidade de acesso às informações acerca do ato e seu andamento</li>
				</ul>
			</div>
			<div class="col-sm-4 wow animate fadeInUp" data-wow-delay="0.4s">
				<ul class="c-content-list-1 c-theme c-separator-dot">
					<li>Encaminhamento de títulos à protesto</li>
					<li>Solicitação de noficação
                        extrajudicial</li>
					<li>Atuação na análise das minutas de procuração, escrituras públicas,
                        declaratórias, dentre outras</li>
					<li>Reconhecimento de firmas;</li>
					<li>Autenticação
                        de documentos</li>
                    <li>Acompanhamento até a conclusão do ato</li>
				</ul>
			</div>
		</div>
	</div> 
</div>

<div class="c-content-title-1 c-center c-margin-t-80">
    <h3 class="c-font-uppercase c-font-bold">Diferenciais</h3>
    <div class="c-line-center" style="background-color:#04244d"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 wow animate fadeInUp" style="text-align:justify">			
            <p>Através do suporte intelectual e análise prévia acerca do ato mais
                adequado ao caso, o cliente ganhará tempo e celeridade, haja vista a
                comodidade que terá em ser atendido em seu escritório ou onde for
                melhor, pois não sofrerá com espera nos cartórios, não terá
                dificuldade de acesso ao escrevente, evitando atos inadequados e
                retrabalho, já que a P. Ribeiro Inteligência Cartorial atua minimizando
                esses impedimentos para a conclusão dos atos.
                É importante salientar sobre a facilidade do cliente quanto ao
                acesso às informações do ato e seu andamento, pois terá
                assistência durante a toda tramitação na serventia
                extrajudicial. </p>
            <p>Pensando nisso, disponibiliza um serviço exclusivo e personalizado,
                que garante ao cliente atendimento onde for mais conveniente
                (residência, empresa, ou até mesmo no cartório). </p>
        </div>
    </div>
</div>
<div class="c-content-box c-size-lg c-bg-white">
	<div class="container">
		<!-- Begin: testimonials 1 component -->
		<div class="c-content-testimonials-1 c-option-2 wow animated fadeIn" data-slider="owl">

			<!-- Begin: Owlcarousel -->

			<div class="owl-carousel owl-theme c-theme c-owl-nav-center wow animated fadeInUp" data-single-item="true" data-slide-speed="8000" data-rtl="false"> 
			 	<div class="item">
			  		<div class="c-testimonial">
				  		<p>
		                    “Tive a oportunidade de ser atendido pela P. Ribeiro em uma
                            demanda e fiquei muito satisfeito.
                            Doze meses antes tive
                            um
                            caso muito semelhante que demandou dias e várias idas ao
                            Cartório. Com a P. Ribeiro a solução foi muito simples, eficaz e
                            tudo foi resolvido em menos de 2 horas. Ela demonstrou ter
                            bom trânsito nas instituições
                            e muito conhecimento de causa
                            para resolver as questões. ”
		                </p>
		                <h3>
		                    <span class="c-name c-theme">Cláudio Rodrigues</span>, Proprietário da Agroshop
		                </h3>
	                </div>
			  	</div>
			  	<div class="item">
			  		<div class="c-testimonial">
				  		<p>
		                    “Quero deixar aqui meu agradecimento a P. Ribeiro pela 
                            assessoria e condução da escritura lavrada no 5° Tabelionato, me 
                            assessorando desde o início, vindo até a Imobiliária sempre que 
                            necessário, deixando tudo pronto no Cartório para um processo 
                            de imóvel objeto de inventário, com vários herdeiros e 
                            procuração internacional. Porém foi muito tranquilo devido a 
                            condução feita pela P. Ribeiro. Recomendo com tranquilidade 
                            pelo profissionalismo”
	                    </p>
		                <h3>
		                    <span class="c-name c-theme">Marise Rodrigues</span>,  Corretora de Imóveis, Adão Imóveis
		                </h3>
	                </div>
			  	</div>		 
			</div>
	        <!-- End-->
	    </div>
	    <!-- End-->
	</div>
</div>