<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both" style="background-image:url(/bgquemsomos-01.png); background-size:cover; height:200px">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase" style="color:#04244d; font-size:40px"><b class="c-font-uppercase" style="color:#04244d; font-size:40px">Entes Políticos</b>, empresas públicas, autarquias e fundações</h3>
		</div>	
    </div>
</div>

<div class="c-content-title-1 c-center c-margin-t-80">
    <h3 class="c-font-uppercase c-font-bold">Cenário Atual</h3>
    <div class="c-line-center" style="background-color:#04244d"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 wow animate fadeInUp" style="text-align:justify">			
            <p>A realidade apresentada em grande parte dos entes políticos, 
				empresas públicas, autarquias e fundações acerca da falta de 
				regularização imobiliária, diﬁculta a gestão e a governabilidade por 
				motivos vários. No que tange aos entes políticos, o direito à moradia 
				está resguardado em nossa Constituição Federal como um dos 
				direitos sociais, e todo agente político e gestor atento e preocupado 
				com a insegurança jurídica dos cidadãos e de seus entes 
				personalizados, quanto aos imóveis, deverão ater-se à questão aqui 
				entabulada. </p>
            <p>Um dos graves problemas já observados em grande parte dos entes 
				políticos é a falta de informação acerca da necessidade da escritura e 
				do registro na efetivação da transmissão da propriedade. Visando 
				proporcionar informações seguras e mudança de comportamento dos 
				gestores públicos e privados, assim como dos cidadãos, idealizamos o 
				Regularize, que irá promover o incremento da arrecadação pública 
				dos Municípios e da segurança jurídica aos cidadãos, geradas pela 
				regularização imobiliária e fundiária e ainda, a segurança jurídica 						
				quanto à propriedade dos imóveis das empresas (públicas ou 
				privadas), autarquias e fundações. Assim, os cidadãos terão seus 
				direitos patrimoniais garantidos, enquanto o município maximiza a 
				arrecadação do ISTI/ITBI. </p>				
                <br>
                <h3>Dificuldades observadas:</h3>

                
                    <ul class="c-content-list-1 c-theme c-separator-dot">
                        <li>Muitos prefeitos e gestores públicos desconhecem
                            o potencial e a importância desse projeto;</li>
                        <li>Alto índice de imóveis em situação irregular
                            nos municípios;</li>
                        <li>Falta de informação acerca da necessidade da
                            escritura e do registro para a transmissão da
                            propriedade;</li>
                        <li>Morosidade na regularização devido à falta de
                            informação;</li>
                        <li>Baixo recolhimento do ISTI/ITBI;</li>
                        <li>Inexistência de recolhimento do IPTU/ITR em
                            imóveis irregulares;</li>
                        <li>Atendimento precário nas serventias
                            extrajudiciais;</li>
                        <li>Retrabalho;</li>
                        <li>Tempo excessivo na conclusão dos procedimentos
                            com prejuízos de toda ordem;</li>
                    </ul>
        </div>
    </div>
</div>

<div class="c-content-box c-size-lg c-bg-img-top" style="background-image: url(../../assets/base/img/content/backgrounds/bg-65.jpg)">
	<div class="container">
		<div class="c-content-feature-6">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-font-uppercase c-center c-font-thin">O que é <strong>Regularização Fundiária</strong>?</h3>
				<div class="c-line-center c-theme-bg" style="background-color:#04244d !important"></div>
			</div>
			<!-- End-->
			<ul class="c-list">
				<li>
					<div class="c-card c-bg-opacity-1">
						<p><b style="color:#04244d">Regularização Fundiária é o processo que inclui medidas jurídicas, cartorárias,
                            urbanísticas,
                            ambientais e sociais</b>, com a finalidade de integrar assentamentos,
                            loteamentos, condomínios, conjuntos habitacionais,
                            irregulares ao contexto legal das cidades.
                            </p>
                        <p>A Regularização Fundiária de interesse social é uma obrigação do Poder Público,
                            que deve implementá-la como uma das formas de concretizar
                            um direito dos
                            cidadãos brasileiros, que é a moradia digna, reconhecido como <b style="color:#04244d">direito
                            fundamental nos termos do artigo
                            6º da Constuição
                            Federal Brasileira</b>. </p>
                        <p>Assim, o pleno exercício da moradia significa, entre outras ações, <b style="color:#04244d">conferir o
                            título
                            do imóvel ao residente</b>, estabelecendo políticas
                            sociais que garantam
                            sua permanência na área regularizada, com acesso à infraestrutura,
                            equipamentos e serviços públicos.</p>
                        
					</div>	
				</li>
				
			</ul>
		</div>
	</div> 
</div>

<div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url(goiania2-01.jpg)">
	<div class="c-content-feature-13">
		<div class="row c-reset">
			<div class="col-md-6 c-bg-white">
				<div class="c-feature-13-container">
					<div class="c-content-title-1">
						<h3 class="c-font-uppercase c-font-white c-font-bold" style="color:grey !important">Vantagens da <span class="c-theme-font" style="color:#04244d !important">Regularização</span></h3>
						<div class="c-line-left" style="background-color:#04244d"></div>
					</div>
					<div class="row">
						<div class="c-feature-13-tile">
							<i class="icon-size-fullscreen c-theme-font c-font-24" style="color:#04244d !important"></i>
							<div class="c-feature-13-content" style="text-align:justify">
								<h4 class="c-font-uppercase c-theme-font c-font-bold" style="color:#04244d !important">Confira o quanto você ganha regularizando seu imóvel</h4>
								<p class="c-font-grey" style="color:grey !important">Residir irregularmente significa estar em condição de insegurança permanente. Por esse
                                    motivo,
                                    além de um direito social, podemos dizer que a moradia regular é condição para
                                    a realização integral de outros direitos constitucionais,
                                    como o trabalho,
                                    o lazer, a educação e a saúde.</p>
                                <p>Além de transformar a perspectiva
                                    de vida das comunidades e das famílias beneficiadas,
                                    a regularização imobiliária e fundiária também interfere positivamente
                                    na gestão dos
                                    territórios urbanos, já que, regularizados, os assentamentos, loteamentos, condomínios,
                                    conjunto habitacionais, passam a fazer parte dos cadastros municipais, proporcionando
                                    o recolhimento do IPTU/ITR.</p>
                                <p>O direito à regularização não está restrito à população de baixa renda. O cidadão
                                    de renda média ou alta também, que por falta de cautela ou informação, adquire lote em
                                    parcelamento irregular ou clandetisno,
                                    tem o direito de ter sua situação regularizada,
                                    seu direito à propriedade protegido.
                                    </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="c-content-feature-10">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-font-uppercase c-center c-font-bold">Descrição do Projeto em Etapas</h3>
				<div class="c-line-center c-theme-bg" style="background-color:#04244d !important"></div>
			</div>
			<!-- End-->
			<ul class="c-list">
				<li>
					<div class="c-card c-font-right wow animate fadeInLeft">
						<i class="icon-magnifier c-font-27 c-float-right c-border c-border-opacity" style="color:#04244d"></i>
						<div class="c-content c-content-right">
							<h3 class="c-font-uppercase c-font-bold">1. Mapeamento e diagnóstico</h3>
							<p>
								Mapeamento e diagnóstico
                                da situação de cada um dos imóveis do município
                                visando posterior conscientização,
                                incentivo
                                e regularização em parceria
                                com setor responsável da prefeitura
                                
							</p>
						</div>
					</div>	
					<div class="c-border-bottom c-bg-opacity-2"></div>
				</li>
				<div class="c-border-middle c-bg-opacity-2"></div>
				<li>
					<div class="c-card wow animate fadeInRight">
						<i class="icon-refresh c-font-27 c-theme-font c-float-left c-border c-border-opacity" style="color:#04244d !important"></i>
						<div class="c-content c-content-left">
							<h3 class="c-font-uppercase c-font-bold" >4.Acompanhamento</h3>					
							<p>
								Posterior acompanhamento de lavratura e registro de escrituras públicas
                                de compra e venda, ou quaisquer outras necessárias.
							</p>
						</div>
					</div>	
					<div class="c-border-bottom c-bg-opacity-2"></div>
				</li>
			</ul>
			<ul class="c-list">
				<li>
					<div class="c-card c-font-right wow animate fadeInLeft">
						<i class="icon-control-play c-font-27 c-theme-font c-float-right c-border c-border-opacity" style="color:#04244d !important"></i>
						<div class="c-content c-content-right">
							<h3 class="c-font-uppercase c-font-bold">2.Planejamento e Execução</h3>
							<p>
								Planejamento e execução de Campanha de Incentivo
                                e Orientação à população
                                sobre os benefícios
                                e necessidade de escrituração e registro dos imóveis mediante
                                palestras, rádios e jornais locais, site da Prefeitura, divulgação em mídias e outros meios.
							</p>
						</div>
					</div>	
					<div class="c-border-bottom c-bg-opacity-2"></div>
				</li>
				<div class="c-border-middle c-bg-opacity-2"></div>
				<li class="c-border-grey-1-5">
					<div class="c-card wow animate fadeInRight">
						<i class="icon-docs c-font-27 c-theme-font c-float-left c-border c-border-opacity" style="color:#04244d !important" ></i>
						<div class="c-content c-content-left">
							<h3 class="c-font-uppercase c-font-bold">5.Relatórios</h3>					
							<p>
								Emissão de Relatórios Operacionais mensais para pleno
                                acompanhamento dos status de cada atividade e atendimento
                                iniciado, em andamento e finalizados.
							</p>
						</div>
					</div>	
					<div class="c-border-bottom c-bg-opacity-2"></div>
				</li>
			</ul>
			<ul class="c-list">
				<li>
					<div class="c-card c-font-right wow animate fadeInLeft">
						<i class="icon-users c-font-27 c-theme-font c-float-right c-border c-border-opacity" style="color:#04244d !important"></i>
						<div class="c-content c-content-right">
							<h3 class="c-font-uppercase c-font-bold">3.Contato Direto</h3>
							<p>
								Contato direto e personalizado com cidadãos que apresentaram
                                pendências durante mapeamento na Etapa 1
							</p>
						</div>
					</div>	
					<div class="c-border-bottom c-bg-opacity-2 c-mobile"></div>
				</li>
				<div class="c-border-middle c-bg-opacity-2"></div>
			</ul>
	
		</div>
	</div> 
</div>

