<style>
.c-theme-bg {
    background-color: #04244d !important;
    }

    .c-theme-on-hover:hover {
    color: rgb(59, 192, 59) !important;
}

.c-content-label {
    padding: 4px 10px 2px 10px;
    color: #ffffff;
    background-color: rgb(59, 192, 59);
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
}

.c-theme-font, .c-theme-color {
    color:#04244d !important;
}
</style>

<div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both" style="background-image:url(/bgquemsomos-01.png); background-size:cover; height:200px">
	<div class="container">
		<div class="c-page-title c-pull-left">
			<h3 class="c-font-uppercase" style="color:#04244d; font-size:40px">Conheça a <b class="c-font-uppercase" style="color:#04244d; font-size:40px">P. Ribeiro</b></h3>
			<p class="c-font-uppercase" style="color:#04244d; font-size:30px"> Inteligência Cartorial</p>
		</div>	
    </div>
</div>

<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 wow animate fadeInUp" style="font-size:20px">			
				<p style="text-align:justify">A <b style="color:#04244d">P. Ribeiro Inteligência Cartorial</b>, pensando nos seus problemas, trouxe uma grande inovação para o mercado. Oferecemos um <b style="color:#2c6dbd">serviço personalizado</b> que estuda a maneira mais simples e rápida de <span style="color:#2cbd3f">resolver suas dificuldades</span>. Chega de filas enormes e burocracias. Através de  nossa orientação direcionada <span style="color:#2cbd3f"> garantimos a sua tranquilidade</span>. Trazemos a excelência com um <b style="color:#04244d">trabalho seguro, autêntico e eficaz</b>.</p>			
				<p>Somos o elo que faltava entre seu prolema e a solução.</p>
			</div>
		</div>
		
		
		</div>
	</div> 
</div><!-- END: CONTENT/MISC/ABOUT-2 -->

<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="c-content-media-1 c-bordered wow animated fadeInLeft" style="min-height: 380px;">
					<div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Nosso Propósito</div>
					<a href="#" class="c-title c-font-uppercase c-theme-on-hover c-font-bold"></a>
					<p style="text-align:justify">Trazer a solução para seus problemas cartoriais de forma inteligente, rápida e personalizada. Valorizando seu tempo, dinheiro e prezando pelo seu bem estar.</p>
					<div class="c-author">
						<div class="c-portrait" style="background-image: url(avatar-01.png)"></div>
						<div class="c-name c-font-uppercase">Poliana Ribeiro</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">		
				<div class="c-content-media-2-slider wow animated fadeInRight" data-slider="owl">
					<div class="c-content-label c-font-uppercase c-font-bold">Últimos Eventos</div>						
					<div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-navigation-dots="true" data-auto-play="4000" data-rtl="false">						
						<div class="c-content-media-2 c-bg-img-center" style="background-image: url(polly1.jpg); min-height: 380px;">
							<div class="c-panel">
								<div class="c-fav">
									<i class="icon-heart c-font-thin"></i>
									<p class="c-font-thin">16</p>
								</div>
							</div>
						</div>
						<div class="c-content-media-2 c-bg-img-center" style="background-image: url(polly2.jpg); min-height: 380px;">
							<div class="c-panel">
								<div class="c-fav">
									<i class="icon-heart c-font-thin"></i>
									<p class="c-font-thin">24</p>
								</div>
							</div>
						</div>
						<div class="c-content-media-2 c-bg-img-center" style="background-image: url(polly3.jpg); min-height: 380px;">
							<div class="c-panel">
								<div class="c-fav">
									<i class="icon-heart c-font-thin"></i>
									<p class="c-font-thin">19</p>
								</div>
							</div>
						</div>						
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>

<!-- BEGIN: FEATURES 13.4 --> 
<div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url(bgquemsomos.jpg); background-size:cover ">
	<div class="c-content-feature-13">
		<div class="row c-reset">
			<div class="col-md-6 col-md-offset-6 c-bg-white">
				<div class="c-feature-13-container">
					<div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold"><span style="color:#2c6dbd; font-size:40px">#Regularize</span>.</h3>
                        <h4></h4>
						<div class="c-line-left c-theme-bg"></div>
					</div>
					<div class="row">
						<div class="c-feature-13-tile">
							<i class="icon-check c-theme-font c-font-24"></i>
							<div class="c-feature-13-content">
								<h4 class="c-font-uppercase c-theme-font c-font-bold">Imóvel Regular</h4>
								<p class="c-font-dark" style="text-align:justify">Ter um imóvel próprio é o sonho da maioria das famílias brasileiras. O ART. 6º da constituição Federal 
									menciona como direito fundamental o direito à moradia 
									digna, que significa, entre outras ações, conferir o título do imóvel ao 
									residente, garantindo sua permanência no imóvel. 
									O #REGULARIZE tem por objetivo sanar pendências do imóvel de  várias naturezas. 
									Sejam elas junto à cartórios (tabelionado de notas, registro de imóveis), órgãos municipais, 
									cadastro, IPTU, dentre outros. Lembrando que sem o devido registro, 
									não há como comprovar, para efeitos legais, a propriedade do bem imóvel.</p>
							</div>
						</div>
						<div class="c-feature-13-tile">
							<i class="icon-home c-theme-font c-font-24"></i>
							<div class="c-feature-13-content">
								<h4 class="c-font-uppercase c-theme-font c-font-bold">Cenários e Oportunidades</h4>
								<p class="c-font-dark" style="text-align:justify">Um dos graves problemas já observados em grande parte dos entes políticos é a 
									falta de informação acerca da necessidade da escritura e do registro na 
									efetivação da transmissão da propriedade. Visando proporcionar informações seguras 
									e mudança de comportamento dos gestores públicos e privados, assim 
									como dos cidadãos, idealizamos o #REGULARIZE, que irá promover o incremento 
									da arrecadação pública dos municípios e segurança jurídica aos cidadãos, 
									geradas pela regularização imobiliária e fundiária e ainda, a segurança jurídica 
									quanto à propriedade dos imóveis das empresas (públicas ou privadas), 
									autarquias e fundações. E ainda, os cidadãos terão seus direitos patrimoniais
									garantidos, enquanto o município maximiza a arrecadação do ISTI/ITBI.</p>
							</div>
						</div>
						<div class="c-feature-13-tile">
							<i class="icon-like c-theme-font c-font-24"></i>
							<div class="c-feature-13-content">
								<h4 class="c-font-uppercase c-theme-font c-font-bold">Vantagens da Regularização</h4>
								<p class="c-font-dark" style="text-align:justify">O imóvel, uma vez regularizado, ou seja, com o justo título, devidamente 
									registrado, estará revestido da segurança jurídica. Para todos efeitos legais, a 
									propriedade poderá ser comprovada e o direito do proprietário sobre o imóvel 
									estará assegurado. Haverá a promoção da integração social e a geração de 
									emprego e renda, estimulará a resolução extrajudicail de conflitos, em reforço 
									à consensualidade e à cooperação entre estado e sociedade, dentre tantas outras.</p>
							</div>
						</div>

						<button type="button" class="btn btn-primary btn-lg" style="position:relative; left:180px;margin-top:30px"><a href="/servicos" style="color:white">Conheça nossos Serviços!</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


