<style>
    a:hover{
        color:#04244d
    }

</style>

<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<div class="c-content-feature-2-grid">
			<div class="c-content-title-1 wow animated fadeIn">
				<h3 class="c-font-uppercase c-font-bold">Veja como nós podemos lhe ajudar!</h3>
				<div class="c-line-left" style="background-color:#04244d"></div>
			</div>
		</div>
	</div> 
</div><!-- END: CONTENT/MISC/SERVICES-2 -->

<div class="c-content-box c-size-md c-bg-grey-1  ">
	<div class="container">
		<div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
						<div class="row">
				<div class="col-md-4 col-sm-6">
                    <a href="/pessoas-fisicas">
					<div class="c-content-feature-2" data-height="height">
						<div class="c-icon-wrapper">
							<div class="fa fa-user c-font-60"></div>
						</div>
						<h3 class="c-font-uppercase c-font-bold c-title">Pessoas Físicas</h3>
						<p>Como você pode ganhar com nossos serviços!</p>
                    </div>
                </a>
				</div>
				<div class="col-md-4 col-sm-6">
                    <a href="/empresas">
					<div class="c-content-feature-2" data-height="height">
						<div class="c-icon-wrapper">
							<div class="fa fa-dollar c-font-60"></div>
						</div>
						<h3 class="c-font-uppercase c-font-bold c-title">Empresas</h3>
						<p>Podemos ajudar também sua empresa!</p>
                    </div>
                    </a>
				</div>
				<div class="col-md-4 col-sm-6">
                    <a href="/prefeituras">
					<div class="c-content-feature-2" data-height="height">
						<div class="c-icon-wrapper">
							<div class="fa fa-institution c-font-60"></div>
						</div>
						<h3 class="c-font-uppercase c-font-bold c-title">Entes Políticos, empresas públicas, autarquias e fundações</h3>
						<p>Confira nossas soluções para o setor público!</p>
                    </div>
                    </a>
				</div>
				<div class="col-md-4 col-sm-6">
                    <a href="/advocacia">
					<div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
						<div class="c-icon-wrapper">
							<div class="fa fa-black-tie c-font-60"></div>
						</div>
						<h3 class="c-font-uppercase c-font-bold c-title">Escritórios de Advocacia</h3>
						<p>Podemos colaborar com o êxito de suas causas!</p>
                    </div>
                    </a>
                </div>
                
				<div class="col-md-4 col-sm-6" >
                    
					<div class="c-content-v-center c-theme-bg wow bounceInUp" data-wow-delay1="2s" data-height="height" style="background-color:#04244d !important">
						<div class="c-wrapper">
							<div class="c-body c-padding-20 c-center">  
								<h3 class="c-font-19 c-line-height-28 c-font-uppercase c-font-white c-font-bold">
                                    Buscamos a melhor forma de resolver seus problemas de maneira segura, autêntica e eficaz.
								</h3>
							</div>
						</div>
                    </div>
                    
				</div>
				<div class="col-md-4 col-sm-6">
                    <a href="/imobiliarias">
					<div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
						<div class="c-icon-wrapper">
							<div class="fa fa-building c-font-60"></div>
						</div>
						<h3 class="c-font-uppercase c-font-bold c-title">Imobiliárias</h3>
						<p>Garanta sua segurança jurídica e a tranquilidade nas negociações!</p>
                    </div>
                    </a>
				</div>
			</div>
		</div>
	</div> 
</div><!-- END: CONTENT/MISC/SERVICES-1 -->

