<style>
    a:hover{
        color:#04244d
    }

    .c-theme-ul-bg > li {
    color: #ffffff;
    background: rgb(59, 192, 59) !important;
}

.c-theme-btn.btn {
    color: #ffffff;
    background: #04244d;
    border-color: #04244d;
}

.c-theme-border {
    border-color: #04244d !important;
}
</style>
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="c-content-blog-post-1-view">
                        <div class="c-content-blog-post-1">
                            <div class="c-media">
                                <div class="c-content-media-2-slider" data-slider="owl">
                                    <div class="owl-carousel owl-theme c-theme owl-single" data-rtl="false" data-single-item="true" data-auto-play="4000">
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/blog/stj.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="c-content-media-2" style="background-image: url(/pribeiro.jpg); min-height: 460px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="c-title c-font-bold c-font-uppercase">
                                <a href="#">STJ determina averbação de  
                                    informações sobre união estável 
                                    em certidão de óbito!</a>
                            </div>
    
                            <div class="c-panel c-margin-b-30">
                                <div class="c-author"><a href="#">por <span class="c-font-uppercase">Poliana Ribeiro</span></a></div>
                                <div class="c-date">on <span class="c-font-uppercase">04 de outubro de 2017</span></div>
                                <ul class="c-tags c-theme-ul-bg">
                                    <li>Notícias</li>
                                </ul>							
                            </div>
    
                            <div class="c-desc" style="text-align:justify">
                                <p>
                                    Ainda que esteja em curso discussão sobre a caracterização de um novo estado civil em 
                                    virtude da existência de união estável, a interpretação da legislação sobre registros públicos 
                                    e a própria doutrina caminham no sentido de que a realidade do estado familiar da pessoa 
                                    corresponda, sempre que possível, à informação dos documentos, inclusive em relação aos 
                                    registros de óbito. 
                                </p>
                                <p>
                                    O entendimento foi aplicado pela Terceira Turma do Superior Tribunal de Justiça (STJ) ao 
                                    manter acórdão do Tribunal de Justiça que determinou o registro, na certidão de óbito de 
                                    uma mulher, do estado civil “solteira com união estável”. O tribunal também havia 
                                    determinado a inclusão do nome do companheiro nos registros de óbito. 
                                </p>
                                <p>
                                    Por meio de recurso especial, o ex-companheiro da falecida defendeu a impossibilidade 
                                    jurídica do pedido, já que a legislação brasileira não prevê a união estável como estado 
                                    civil, além da ausência de interesse no prosseguimento da ação, tendo em vista a existência 
                                    de reconhecimento judicial da união estável transitado em julgado. 
                                </p>
                                <p>
                                    A relatora do recurso, ministra Nancy Andrighi, destacou inicialmente que, sob o aspecto 
                                    formal, o ordenamento jurídico brasileiro prevê o estado civil de solteiro, casado, separado 
                                    judicialmente, divorciado e viúvo, mas não regula expressamente a união estável. 
                                </p>
                                <p>Segundo a ministra, a omissão legislativa é criticada pela doutrina, especialmente em 
                                    virtude da necessidade de se assegurar a publicidade do estado familiar, a fim de que seja 
                                    garantida segurança aos companheiros, seus herdeiros e aos terceiros que com eles 
                                    venham a estabelecer relações jurídicas. 
                                </p>
                                <p>
                                    “As necessidades humanas não podem esperar a edição das leis, e os eventuais conflitos 
                                    não podem ser ignorados pelo Poder Judiciário”, observou a ministra. 
                                </p>
                                <p>
                                    No caso concreto analisado, a relatora considerou que, uma vez declarada a união estável 
                                    por meio de sentença transitada em julgado, o fato jurídico deveria ser inscrito no Registro 
                                    Civil de Pessoas Naturais, mas com a manutenção das regras formais típicas dos registros 
                                    públicos. 
                                </p>
                                <p>
                                    “Afora o debate sobre a caracterização de um novo estado civil pela união estável, a 
                                   interpretação das normas que tratam da questão aqui debatida – em especial a Lei de 
                                   Registros Publicos – deve caminhar para o incentivo à formalidade, pois o ideal é que à 
                                   verdade dos fatos corresponda, sempre, à informação dos documentos, especialmente no 
                                   que tange ao estado da pessoa natural”, concluiu a ministra ao determinar o acréscimo de 
                                   informação sobre o período de união estável na certidão de óbito, apesar de manter a 
                                   decisão de segundo grau. 
                                </p>
                                <p>O número deste processo não é divulgado em razão de segredo judicial. </p>
                            </div>
    
                            <div class="c-comments">
    
                                <div class="c-content-title-1">
                                    <h3 class="c-font-uppercase c-font-bold">Comentários</h3>
                                    <div class="c-line-left" style="background-color:#04244d"></div>
                                </div>
    
                                <div class="fb-comments" data-href="http://www.inteligenciacartorial.com.br/stj-uniao-estavel" data-width="100%" data-numposts="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <form action="#" method="post">
                        <div class="input-group">
                          <input type="text" class="form-control c-square c-theme-border" placeholder="Pesquisar no blog...">
                          <span class="input-group-btn">
                            <button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Ir!</button>
                          </span>
                        </div>
                    </form>
    

    
                    <div class="c-content-ver-nav">
                            <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                                <h3 class="c-font-bold c-font-uppercase">Categorias</h3>
                                <div class="c-line-left c-theme-bg" style="background-color:#04244d !important"></div>
                            </div>
                            <ul class="c-menu c-arrow-dot1 c-theme">
                                <li><a href="#">Notícias</a></li>
                                <li><a href="#">Artigos</a></li>
                                <li><a href="#">Lazer</a></li>
                            </ul>
                        </div><!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                </div>
            </div>
        </div> 
    </div>
    